<div class="grid-2-col">
    <div class="item-form des">
        <!--<div class="header">
            {{header}}
        </div>-->
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.Type"}}
            </div>
            <div class="inputs">
                <input type="text" name="system.type" value="{{system.type}}" placeholder="" />
            </div>
        </div>
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.Connection"}}
            </div>
            <div class="inputs">
                <input type="text" name="system.connection" value="{{system.connection}}" data-dtype="Number"
                    placeholder="1" />
            </div>
        </div>
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.Loyalty"}}
            </div>
            <div class="inputs">
                <input type="text" name="system.loyalty" value="{{system.loyalty}}" data-dtype="Number"
                    placeholder="1" />
            </div>
        </div>
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.Family"}}
            </div>
            <div>
                <input type="checkbox" class="submit-checkbox" name="system.family" {{checked system.family}} />
            </div>
        </div>
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.Blackmail"}}
            </div>
            <div>
                <input type="checkbox" class="submit-checkbox" name="system.blackmail" {{checked system.blackmail}} />
            </div>
        </div>
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.Group"}}
            </div>
            <div>
                <input type="checkbox" class="submit-checkbox" name="system.group" {{checked system.group}} />
            </div>
        </div>
        <div class="form-line">
            <div class="label advanced">
                {{localize "SR5.Contact.LinkedActor"}}
            </div>
            <div>
                {{#if linkedActor}}
                <a class="content-link" draggable="false" data-link data-type="Actor" data-id="{{linkedActor.id}}"
                    data-uuid="{{linkedActor.uuid}}">
                    <i class="fas fa-user"></i>
                    {{linkedActor.name}}
                </a>
                <a class="close actor-remove"><i class="fas fa-times"></i></a>
                {{else}}
                {{localize "SR5.Contact.DropActor"}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="description">
        {{editor descriptionHTML target="system.description.value" button=true editable=true engine="prosemirror"
        collaborate=false}}
    </div>
</div>