<form>
    <h1>{{localize "SR5.Migrator.Version18_0_0.Warning"}}</h1>
    <p>{{localize "SR5.Migrator.Version18_0_0.Line1"}}</p>
    <p>{{localize "SR5.Migrator.Version18_0_0.Line2"}}</p>
    <p>{{localize "SR5.Migrator.Version18_0_0.Line3"}}</p>
    <p>{{localize "SR5.Migrator.Version18_0_0.Line4"}}</p>
    <p>{{localize "SR5.Migrator.Version18_0_0.Line5"}}</p>
    <div>
        <label for="onlyDisableEffects">{{localize "SR5.Migrator.Version18_0_0.OnlyDisable"}}</label>
        <input type="checkbox" name="onlyDisableEffects" {{checked onlyDisableEffects}}/>
    </div>

</form>