{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        <div class="new-list-item-label-container">
            <a class="{{#if system.importFlags.isFreshImport}}{{#if (itemMarking "COLOR")}}fresh-import{{/if}}{{/if}}"
                data-action="showItemDescription" data-item-id="{{item.uuid}}">
                {{#if name}}
                    {{name}}
                {{else}}
                    {{item.name}}
                {{/if}}
            </a>
        </div>
        <div class="new-list-item-icons">
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
