<div class="value-modifiers-container">
    <div class="value-modifiers">
        <div class="value-modifier-name">{{localize 'SR5.BaseValue'}}</div>
        <div class="value-modifiers-base">{{value.base}}</div>
        {{#each value.mod}}
        <div class="value-modifier-name">{{localize this.name}}</div>
        <div class="value-modifiers-modifier">{{signedValue this.value}}</div>
        {{/each}}

        {{#if this.override}}
        <div class="value-modifier-name value-modifiers-invalid-total">{{localize 'SR5.Total'}}</div>
        <div class="value-modifiers-total value-modifiers-invalid-total">?</div>
        <div class="value-modifier-name">{{localize this.override.name}}</div>
        <div class="value-modifiers-total">{{this.override.value}}</div>
        {{else}}
        <div class="value-modifier-name">{{localize 'SR5.Total'}}</div>
        <div class="value-modifiers-total">{{value.value}}</div>
        {{/if}}
    </div>
</div>