<div class="value-modifiers-container">
    <div class="value-modifiers">
        <div class="value-modifier-name">{{localize 'SR5.BaseValue'}}</div>
        <div class="value-modifiers-base">{{value.base}}</div>
        {{#each value.mod}}
        <div class="value-modifier-name">{{localize this.name}}</div>
        <div class="value-modifiers-modifier">{{signedValue this.value}}</div>
        {{/each}}

        {{#if (eq value.operation "override")}}
        <div class="value-modifier-name value-modifiers-invalid-total">{{localize 'SR5.Total'}}</div>
        <div class="value-modifiers-total value-modifiers-invalid-total">?</div>
        <div class="value-modifier-name">{{localize value.override.name}}</div>
        <div class="value-modifiers-total">{{value.override.value}}</div>
        {{else if (eq value.operation "upgrade")}}
        <div class="value-modifier-name value-modifiers-invalid-total">{{localize 'SR5.Total'}}</div>
        <div class="value-modifiers-total value-modifiers-invalid-total">?</div>
        <div class="value-modifier-name">{{localize value.upgrade.name}}</div>
        <div class="value-modifiers-total">{{value.value}}</div>
        {{else if (eq value.operation "downgrade")}}
        <div class="value-modifier-name value-modifiers-invalid-total">{{localize 'SR5.Total'}}</div>
        <div class="value-modifiers-total value-modifiers-invalid-total">?</div>
        <div class="value-modifier-name">{{localize value.downgrade.name}}</div>
        <div class="value-modifiers-total">{{value.value}}</div>
        {{else}}
        <div class="value-modifier-name">{{localize 'SR5.Total'}}</div>
        <div class="value-modifiers-total">{{value.value}}</div> 
        {{/if}}
    </div>
</div>