{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='matrix'}}
<div class="flexrow list-header item-section space-between">
    {{#if matrixDevice}}
    <div>
        <a class="open-matrix-device roll" data-uuid="{{matrixDevice.uuid}}">
            {{matrixDevice.name}}
        </a>
    </div>
    {{/if}}
    <div class="RollId" data-roll-id="matrix.device-rating">
        <a class="roll Roll">
            {{localize "SR5.Labels.ActorSheet.DeviceRating"}}: {{system.matrix.rating}}
        </a>
    </div>
    <div>
        <a class="matrix-toggle-running-silent" data-tooltip="SR5.Tooltips.Actor.MatrixRunningSilentToggle">
            {{#if system.matrix.running_silent}}
            {{localize "SR5.RunningSilent"}}
            {{else}}
            {{localize "SR5.Labels.ActorSheet.DisplayingPersona"}}
            {{/if}}
        </a>
    </div>
    <div>
        <a class="reboot-persona-device" data-tooltip="SR5.Tooltips.Actor.RebootPersonaAndClearAllMarks">
            {{localize "SR5.Labels.Sheet.RebootDevice"}} <i class="item-icon fas fa-power-off"></i>
        </a>
    </div>
</div>
<div class="split-container">
    <div>
        <div class="attributes">
            {{#each config.matrixAttributes as |label key|}}
            {{> "systems/shadowrun5e/dist/templates/actor/parts/matrix/MatrixAttribute.hbs"
            matrixAtt=(lookup ../system.matrix key)
            isCyberdeck=../system.matrix.is_cyberdeck
            key=key
            label=label
            matrixAttributes=../config/matrixAttributes
            item=../system.matrix.item }}
            {{/each}}
        </div>
        <div class="inventory">
            <div class="flexrow align-start list-header item-section space-between">
                <div>
                    {{#if network}}
                    {{localize "SR5.Labels.ActorSheet.Network"}}: <a class="open-matrix-device" data-uuid="{{network.uuid}}">{{network.name}}</a>
                    <a data-tooltip="SR5.Tooltips.Actor.DisconnectNetwork">
                        <i class="item-icon fas fa-right-from-bracket disconnect-network"></i>
                    </a>
                    {{else}}
                    {{localize "SR5.Labels.ActorSheet.NoNetwork"}}
                    <a class="connect-to-network">{{localize "SR5.Labels.ActorSheet.AddNetwork"}}</a>
                    {{/if}}
                </div>
                <div>
                    <a class="show-matrix-network-hacking">
                        {{localize "SR5.Labels.ActorSheet.MarkNetwork"}} <i class="item-icon fas fa-network-wired"></i>
                    </a>
                </div>
            </div>
            <div>
                <nav class="tabs" data-group="matrix">
                    <a class="item" data-tab="programs">{{localize "SR5.Programs"}}</a>
                    <a class="item" data-tab="targets">{{localize "SR5.Labels.ActorSheet.Icons"}}</a>
                    {{#if markedDocuments}}
                    <a class="item" data-tab="marks">{{localize "SR5.Marks"}}</a>
                    {{/if}}
                    {{#if ownedDevices}}
                    <a class="item" data-tab="owned-devices">{{localize "SR5.Owner"}}</a>
                    {{/if}}
                </nav>
                <div class="scroll-area scroll-area-matrix-icons">
                    <section data-group='matrix' class="tabsbody">
                        {{> 'systems/shadowrun5e/dist/templates/actor/tabs/matrix/MarksTab.hbs'}}
                        {{> 'systems/shadowrun5e/dist/templates/actor/tabs/matrix/TargetsTab.hbs'}}
                        {{> 'systems/shadowrun5e/dist/templates/actor/tabs/matrix/OwnedDevicesTab.hbs'}}
                        {{> 'systems/shadowrun5e/dist/templates/actor/tabs/matrix/ProgramListTab.hbs'}}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{#if system.matrix.condition_monitor.max}}
            {{> 'systems/shadowrun5e/dist/templates/common/HorizontalCellInput.hbs'
            name=(localize "SR5.ConditionMonitor")
            value=system.matrix.condition_monitor.value
            max=system.matrix.condition_monitor.max
            id="matrix"
            }}
        {{/if}}
        <!-- Add a TabSet if we are emerged to show Compilations and Complex Forms alongside the Matrix Actions -->
        {{#if emerged}}
            <nav class="tabs" data-group="matrix-right-side">
                <a class="item" data-tab="matrix-actions">{{localize "SR5.Labels.ActorSheet.MatrixActions"}}</a>
                <a class="item" data-tab="complex-forms">{{localize "SR5.ComplexForms"}}</a>
                <a class="item" data-tab="compilations">{{localize "SR5.Labels.ActorSheet.Compilations"}}</a>
            </nav>
            <div class="scroll-area scroll-area-matrix-hacking">
                <section data-group='matrix-right-side' class="tabsbody">
                    {{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabGroup='matrix-right-side' tabId='matrix-actions'}}
                        {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/MatrixActionList.hbs' }}
                    {{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
                    {{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabGroup='matrix-right-side' tabId='complex-forms'}}
                        {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/ComplexFormList.hbs' }}
                    {{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
                    {{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabGroup='matrix-right-side' tabId='compilations'}}
                        {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/CompilationList.hbs'}}
                    {{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
                </section>
            </div>
        {{else}}
            <!-- If we aren't emerged, we only need the normal actions list -->
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/MatrixActionList.hbs' }}
        {{/if}}
    </div>
</div>
{{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
