{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='misc'}}
    <div class="inventory">
        <div class="split-container">
            <div class="scroll-area">
                <div class="list-item">
                    {{#if (or isCharacter isSpirit)}}
                    <div class="list-item-content">
                        <button type="button" class="display import-character">
                            {{localize "SR5.ImportCharacter"}}
                        </button>
                    </div>
                    {{#if (hasAnyFreshImports this.actor)}}{{> 'systems/shadowrun5e/dist/templates/actor/parts/ToggleImportFlags.hbs' }}{{/if}}
                    {{/if}}
                </div>
                {{#if isCharacter}}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.Nuyen"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <input class="display" type="text" name="system.nuyen" value="{{system.nuyen}}" data-dtype="Number" />
                                <span class="unit">
                                    <i class="fas fa-yen-sign"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.Karma"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text">
                                <input class="display" type="text" size="10" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.CareerKarma"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text">
                                <input class="display" type="text" size="10" name="system.karma.max" value="{{system.karma.max}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.Notoriety"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text">
                                <input class="display" type="text" size="10" name="system.notoriety" value="{{system.notoriety}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.PublicAwareness"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text">
                                <input class="display" type="text" size="10" name="system.public_awareness" value="{{system.public_awareness}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.StreetCred"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text">
                                <input class="display" type="text" size="10" name="system.street_cred" value="{{system.street_cred}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--Magic/Resonaz Selector-->
                {{/if}}
                {{#if canAlterSpecial }}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.AwakenedEmerged"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <select class="display" name="system.special">
                                    {{#select system.special}} {{#each config.specialTypes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if awakened}}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.DrainAttribute"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input defense">
                                <select name="system.magic.attribute" class="display">
                                    {{#select system.magic.attribute}} {{#each config.attributes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if emerged}}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                <label for='Submersion'>{{localize "SR5.FadeAttribute"}}</label>
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input defense">
                                <select name="system.technomancer.attribute" class="display">
                                    {{#select system.technomancer.attribute}} {{#each config.attributes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                <!--Defense Selector -->
                {{#if hasFullDefense }}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name">
                                {{localize "SR5.FullDefenseAttribute"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input defense">
                                <select name="system.full_defense_attribute" class="display">
                                    {{#select system.full_defense_attribute}} {{#each config.attributes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if isCharacter}}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name" data-tooltip="SR5.Tooltips.Actor.Critter">
                                {{localize "SR5.IsCritter"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <input type="checkbox" class="checkbox" name="system.is_critter" {{checked system.is_critter}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name" data-tooltip="SR5.Tooltips.Actor.NPC">
                                {{localize "SR5.IsNPC"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <input type="checkbox" class="checkbox" name="system.is_npc" {{checked system.is_npc}} />
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if system.is_npc }}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name" data-tooltip="SR5.Tooltips.Actor.Grunt">
                                {{localize "SR5.IsGrunt"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <div class="item-text input">
                                    <input type="checkbox" class="checkbox" name="system.npc.is_grunt" {{checked system.npc.is_grunt}} />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if isCharacter}}
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name" data-tooltip="SR5.Tooltips.Actor.Metatype">
                                {{localize "SR5.Metatype"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <select name="system.metatype" class="display">
                                    {{#select system.metatype}} {{#each config.character.types as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}               
                <div class="list-item">
                    <div class="list-item-content">
                        <div class="item-left">
                            <div class="item-text item-name" data-tooltip="SR5.Tooltips.Actor.DefaultCategoryVisibility">
                                {{localize "SR5.DefaultCategoryVisibility"}}
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-text input">
                                <div class="item-text input">
                                    <input type="checkbox" class="checkbox" name="system.category_visibility.default" {{checked system.category_visibility.default}} />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if hasSkills}}
                <div class="list-item">
                    <div class="list-item-content">
                        <button type="button" class="display show-hidden-skills">
                            {{localize "SR5.RestoreDefaultSkills"}}
                        </button>
                    </div>
                </div>
                {{/if}}
                <div class="list-item">
                    <div class="list-item-content">
                        <button type="button" class="display reset-actor-run-data" data-tooltip="SR5.Tooltips.Actor.ResetActorForNewRun">
                            {{localize "SR5.Labels.ActorSheet.ResetActorForNewRun"}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="scroll-area scroll-area-mods">
                    <!-- Situational Modifiers Section -->
                    {{#if situationModifiers}}
                    <div class="list-item item-section wrap-collapsible">
                        <input id="collapsible-situation-modifiers" class="toggle" type="checkbox" checked>
                        <div class="list-item-content">
                            <div class="item-left">
                                <label for="collapsible-situation-modifiers" class="lbl-toggle">
                                    <div class="item-text item-name">
                                        {{localize "SR5.SituationalModifiersApplication.Title"}}
                                    </div>
                                </label>
                            </div>
                            <div class="item-right">
                                <div class="item-text rtg">
                                    {{localize "SR5.Value"}}
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-content">
                            <div class="content-inner">
                                <div class="mods">
                                    {{#each situationModifiers}}
                                    {{#if (not this.hidden)}}
                                    <div class="list-item">
                                        <div class="list-item-content">
                                            <div class="item-left">
                                                <div class="item-text item-name mods-label show-situation-modifiers-application">
                                                    {{localize this.label}}
                                                </div>
                                            </div>
                                            <div class="item-right">
                                                <div class="item-text rtg">
                                                    {{this.value}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                
                    <!-- Modifier Section -->
                    <div class="list-item item-section wrap-collapsible">
                        <input id="collapsible-modifiers" class="toggle" type="checkbox" checked>
                        <div class="list-item-content">
                            <div class="item-left">
                                <label for="collapsible-modifiers" class="lbl-toggle">
                                    <div class="item-text item-name">
                                        {{localize "SR5.Modifier"}}
                                    </div>
                                </label>
                            </div>
                            <div class="item-right">
                                <div class="item-text rtg">
                                    {{localize "SR5.Value"}}
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-content">
                            <div class="content-inner">
                                {{#each system.modifiers as |value id|}} {{#ifne id 'wound'}}
                                <div class="list-item">
                                    <div class="list-item-content">
                                        <div class="item-left">
                                            <div class="item-text item-name mods-label" data-tooltip="{{localizeOb id ../config.actorModifiersTooltip}}">
                                                {{localizeOb id ../config.actorModifiers}}
                                            </div>
                                        </div>
                                        <div class="item-right">
                                            <div class="item-text rtg">
                                                <input
                                                        class="display attribute-input"
                                                        size="4"
                                                        maxlength="3"
                                                        type="text"
                                                        name="system.modifiers.{{id}}"
                                                        value="{{value}}"
                                                        placeholder="None"
                                                        data-dtype="Number"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/ifne}} {{/each}}
                            </div>
                        </div>
                    </div>
                </div>                                                       
            </div>
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
