<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col">
        <label>
            {{localize "SR5.Initiation"}}&nbsp;
            {{#if @root.isEditMode}}
                {{formInput systemFields.magic.fields.initiation value=source.system.magic.initiation rootId=rootId classes="short skinny"}}
            {{else}}
                {{system.attributes.initiation.value}}
            {{/if}}
        </label>
    </div>

    <div class="list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type=type }}
    </div>
</div>
