<div class="sr5-compendium-browser">
  <div class="compendium-filters">
    <div class="search-bar">
      <i class="search-icon fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search by name...">
      <i class="clear-filter fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="compendium-results">
    <div class="results-header">
      <h2>Results</h2>
      <div class="header-source">SOURCE</div>
    </div>
    <div class="compendium-list">
      {{#if entries.length}}
        {{#each entries as |entry id|}}
          <div class="compendium-entry" data-uuid="{{entry.uuid}}" draggable="true">
            <div class="result-row">
              <div class="item-main" data-action="openDoc">
                <div class="item-image">
                  <img src="{{entry.img}}" alt="{{entry.name}}" loading="lazy">
                </div>
                <div class="item-details">
                  <h3>{{entry.name}}</h3>
                  <div class="item-type">{{entry.type}}</div>
                </div>
              </div>

              <div class="item-meta" data-action="openSource">
                <span class="item-source">{{entry.system.description.source}}</span>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="no-results">No items found. Try adjusting your filters.</div>
      {{/if}}
    </div>
  </div>
</div>
