<div>
    <div>
        <h1>{{targetType}}: {{targetName}}</h1>
    </div>
    <div class="scroll-area">
        <form>
            <div>{{localize "SR5.SituationalModifiersApplication.Category.Matrix"}}</div>
            <div class="card-sunken">
                <div class="form-group">
                    <label for="modifiers-matrix-total">{{localize "SR5.SituationalModifiersApplication.Matrix.Noise"}}: {{modifiers.noise.total}}</label>
                    <div class="form-group-element-numerical modifier-delta">
                        <button data-delta="-3">-3</button>
                        <button data-delta="-1">-</button>
                        <input id="modifiers-matrix-total" class="modifiers-total" type='number' title="{{localize "SR5.SituationalModifiersApplication.Matrix.Noise"}}" name="modifiers.source.noise.active.value" size='3' maxlength='3' data-dtype="Number" 
                            value='{{modifiers.applied.noise.active.value}}' placeholder="0"/>
                        <button data-delta="1">+</button>
                        <button data-delta="3">+3</button>
                    </div>
                </div>
            </div>
            <h2>{{localize "SR5.SituationalModifiersApplication.Category.Magic"}}</h2>
            <div class="card-sunken">
                <div class="form-group">
                    <label for="modifiers-magic-total">{{localize "SR5.SituationalModifiersApplication.Magic.BackgroundCount"}}: {{modifiers.background_count.total}}</label>
                    <div class="form-group-element-numerical modifier-delta">
                        <button data-delta="-3">-3</button>
                        <button data-delta="-1">-</button>
                        <input id="modifiers-magic-total" type='number' title="{{localize "SR5.SituationalModifiersApplication.Magic.BackgroundCount"}}" name="modifiers.source.background_count.active.value" size='3' maxlength='3' data-dtype="Number" 
                            value='{{modifiers.applied.background_count.active.value}}' placeholder="0"/>
                        <button data-delta="1">+</button>
                        <button data-delta="3">+3</button>
                    </div>
                </div>
            </div>
            <h2>{{localize "SR5.SituationalModifiersApplication.Category.Physical"}}</h2>
            {{#if modifiers.documentIsActor}}
            <div class="card-sunken">
                <div class="form-group">
                    <label for="modifiers-recoil-total">{{localize "SR5.ModifierTypes.Recoil"}}: {{modifiers.applied.recoil.total}}</label>
                    <div class="form-group-element-numerical recoil-delta">
                        <button data-delta="-3">-3</button>
                        <button data-delta="-1">-</button>
                        <input id="modifiers-recoil-total" type='number' size='3' maxlength='3' data-tooltip="SR5.Tooltips.SituationalModifier.Recoil"
                            value='{{modifiers.applied.recoil.total}}' placeholder="0" disabled/>
                        <button data-delta="1">+</button>
                        <button data-delta="3">+3</button>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="card-sunken">
                {{> 'systems/shadowrun5e/dist/templates/apps/partials/modifiers-physical.hbs'}}
            </div>
        </form>
    </div>
</div>

<div class="dialog-buttons">
    <button class="dialog-button remove-modifiers-from-target" {{#if disableForm}}disabled{{/if}}>
        {{localize "SR5.SituationalModifiersApplication.ClearLocalAll"}}
    </button>
    {{#if modifiers.documentIsScene}}
    <button class="dialog-button remove-token-modifiers-from-scene" {{#if disableForm}}disabled{{/if}}>
        {{localize "SR5.SituationalModifiersApplication.ClearLocalAllTokens"}}
    </button>
    {{/if}}
</div>