{{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
        name=(localize 'SR5.Hosts')
}}
<div>
    {{#each hosts}}
    {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
            img=this.img
            name=this.name
            itemNameCssClass='Roll show-matrix-placement'
            hasRoll=true
            itemId=this.uuid
    }}
    {{/each}}
</div>
{{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
        name=(localize 'SR5.Personas')
}}
<div>
    {{#each targets}}
    <div><img src="{{speakerImg this.actor}}" height="24px" width="24px"/><span class="Roll show-matrix-placement" data-target-uuid="{{this.actor.uuid}}">{{speakerName this.actor}}</span></div>
    <ul>
        {{#each this.matrixItems}}
        <li><span class="Roll show-matrix-placement" data-target-uuid="{{this.item.uuid}}">{{this.item.name}}</span>{{#ifne this.item.marks 0}}: {{this.item.marks}}{{/ifne}}</li>
        {{/each}}
        </ul>
    {{/each}}
</div>