{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}

        <div class="new-list-item-col">
            <span>{{localizeOb item.system.target @root.config.matrixTarget}}</span>
        </div>
        <div class="new-list-item-col">
            <span>{{localizeOb item.system.duration @root.config.durations}}</span>
        </div>
        <div class="new-list-item-col">
            <span>{{item.system.fade}}</span>
        </div>

        <div class="new-list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/favorite-icon.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
