{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="list-item {{#if (isOwner item owner=@root.actor)}} draggable {{/if}}"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">
        <div class="list-item-start">
            {{> "systems/shadowrun5e/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/templates/v2/common/import-flag.hbs" item }}
            {{> "systems/shadowrun5e/templates/v2/list-items/item-name.hbs" item }}
        </div>

        <div class="list-item-col midd-col">
            <label>{{localizeOb item.system.target @root.config.matrixTargets}}</label>
        </div>
        <div class="list-item-col thicc-col">
            <label>{{localizeOb item.system.duration @root.config.complexForm.durations}}</label>
        </div>
        <div class="list-item-col skinny-col">
            <label>{{item.system.fade}}</label>
        </div>

        {{#if @root.isEditMode}}
            <div class="list-item-icons">
                {{> 'systems/shadowrun5e/templates/v2/list-items/open-source-icon.hbs' item }}
                {{> 'systems/shadowrun5e/templates/v2/list-items/favorite-icon.hbs' item }}
                {{> 'systems/shadowrun5e/templates/v2/list-items/edit-delete-icons.hbs' item }}
            </div>
        {{/if}}
    </div>
    <div class="list-item-desc">
        <div class="list-item-properties">
            {{> 'systems/shadowrun5e/templates/v2/item-properties/complex_form.hbs' item=item }}
            {{> 'systems/shadowrun5e/templates/v2/item-properties/action.hbs' item=item }}
        </div>
        <div class="description-body">
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    </div>
</div>
