{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="list-item {{#if (isOwner item owner=@root.actor)}} draggable {{/if}}"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">
        <div class="list-item-start">
            {{> "systems/shadowrun5e/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/templates/v2/common/import-flag.hbs" item }}
            {{> "systems/shadowrun5e/templates/v2/list-items/item-name.hbs" item }}
        </div>

        <div class="list-item-col essence-col essence-calc-col">
            {{#if item.system.technology.calculated.essence.value}}
                <label>{{item.system.technology.calculated.essence.value}}</label>
            {{/if}}
        </div>

        {{> 'systems/shadowrun5e/templates/v2/list-items/item-rating-col.hbs' item }}
        {{> 'systems/shadowrun5e/templates/v2/list-items/item-quantity-col.hbs' item }}

        <div class="list-item-icons">
            {{> 'systems/shadowrun5e/templates/v2/list-items/open-source-icon.hbs' item }}
            {{> 'systems/shadowrun5e/templates/v2/list-items/favorite-icon.hbs' item }}
            {{#if (isOwner item owner=@root.actor)}}
                {{> 'systems/shadowrun5e/templates/v2/list-items/wireless-icon.hbs' item }}
                {{> 'systems/shadowrun5e/templates/v2/list-items/equip-icon.hbs' item }}
                {{> 'systems/shadowrun5e/templates/v2/list-items/move-item-icon.hbs' item }}
                {{> 'systems/shadowrun5e/templates/v2/list-items/edit-delete-icons.hbs' item }}
            {{/if}}
        </div>
    </div>
    <div class="list-item-desc">
        <div class="list-item-properties">
            {{> 'systems/shadowrun5e/templates/v2/item-properties/technology.hbs' item=item }}
            {{> 'systems/shadowrun5e/templates/v2/item-properties/essence.hbs' item=item }}
            {{> 'systems/shadowrun5e/templates/v2/item-properties/action.hbs' item=item }}
            {{> 'systems/shadowrun5e/templates/v2/item-properties/armor.hbs' item=item }}
            {{> 'systems/shadowrun5e/templates/v2/list-items/matrix-condition-monitor.hbs' item=item }}
        </div>
        <div class="description-body">
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    </div>
</div>
