<div class="list-item list-item-header{{#if @root.isPlayMode}} collapsible-header{{/if}}"
    {{#unless @root.isEditMode}}
     data-action="toggleExpanded"
     data-item-type="{{type}}"
    {{/unless}}>
    <div class="list-item-start {{#unless isOpen}} label-collapsed{{/unless}}">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col asdf-col">
        <label>{{localize "SR5.Labels.Matrix.AttackShort"}}</label>
        <label>{{localize "SR5.Labels.Matrix.SleazeShort"}}</label>
        <label>{{localize "SR5.Labels.Matrix.DataProcessingShort"}}</label>
        <label>{{localize "SR5.Labels.Matrix.FirewallShort"}}</label>
    </div>

    <div class="list-item-col rtg-col">
        <label>{{localize "SR5.Rtg"}}</label>
    </div>

    <div class="list-item-col qty-input-col">
        <label>{{localize "SR5.Qty"}}</label>
    </div>

    <div class="list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/toggle-expand-icon.hbs" isOpen=isOpen }}
    </div>
</div>
