{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{cssClass}} {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="list-item draggable"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-context-menu="item"
         data-uuid="{{item.uuid}}">

        <div class="list-item-start">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}
        </div>

        <div class="list-item-col armor-col">
            <label>
                {{#if (isType @root.item 'bioware' 'cyberware')}}
                    {{floatValue item.system.essence 2}}
                {{else if item.system.mod_armor.value}}
                    {{numberFormat item.system.mod_armor.value sign=true}}
                {{/if}}
            </label>
        </div>
        <div class="list-item-col slots-col">
            <label>
                {{#if item.system.slots}}
                    {{numberFormat item.system.slots sign=true}}
                {{else}}
                    0
                {{/if}}
            </label>
        </div>

        <div class="list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/open-source-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
        </div>
    </div>
    <div class="list-item-desc">
        <div class="list-item-properties">
            {{> 'systems/shadowrun5e/dist/templates/v2/item-properties/technology.hbs' item=item }}
        </div>
        <div class="description-body">
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    </div>
</div>
