<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container {{#if @root.isPlayMode}} scrollable {{/if}}">
        {{#if @root.isEditMode}}
            {{formInput systemFields.description.fields.value value=source.system.description.value rootId=@root.rootId}}
        {{else}}
            {{{descriptionHTML}}}
        {{/if}}
    </div>
</section>
