<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container {{#if @root.isPlayMode}} scrollable {{/if}}">
        {{#if @root.isEditMode}}
            {{formInput systemFields.description.fields.value value=source.system.description.value rootId=@root.rootId}}
        {{else}}
            {{#if (eq item.type 'weapon')}}
                <div class="list-item list-item-header">
                    {{#if (eq system.category 'range')}}
                        <div class="list-item-start">
                            <label>{{localize "SR5.Weapon.Range.Ranges"}}: {{system.range.ranges.short}}m/{{system.range.ranges.medium}}m/{{system.range.ranges.long}}m/{{system.range.ranges.extreme}}m</label>
                        </div>
                        <div class="list-item-col">
                            <label>
                                {{localize "SR5.Weapon.Mode.Modes"}}:
                                {{#if system.range.modes.single_shot}}
                                    {{localize "SR5.Weapon.Mode.SingleShot"}}
                                {{/if}}
                                {{#if system.range.modes.semi_auto}}
                                    {{localize "SR5.Weapon.Mode.SemiAuto"}}
                                {{/if}}
                                {{#if system.range.modes.burst_fire}}
                                    {{localize "SR5.Weapon.Mode.BurstFire"}}
                                {{/if}}
                                {{#if system.range.modes.full_auto}}
                                    {{localize "SR5.Weapon.Mode.FullAuto"}}
                                {{/if}}
                            </label>
                        </div>
                        <div class="list-item-col">
                            <label>{{localize "SR5.RecoilCompensation"}} {{system.range.rc.value}}</label>
                        </div>
                    {{else if (eq system.category 'thrown')}}
                        <div class="list-item-start">
                            <label>{{localize "SR5.Weapon.Range.Ranges"}}: {{system.thrown.ranges.short}}m/{{system.thrown.ranges.medium}}m/{{system.thrown.ranges.long}}m/{{system.thrown.ranges.extreme}}m</label>
                        </div>
                    {{else if (eq system.category 'melee')}}
                        <div class="list-item-start">
                            <label>{{systemFields.melee.fields.reach.label}} {{system.melee.reach}}</label>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
            {{#if (eq item.type 'armor')}}
                    {{#if system.armor.value}}
                    <div class="list-item list-item-header">
                        <div class="list-item-start">
                            <label data-tooltip="{{systemFields.armor.fields.base.label}}"><i class="fas fa-shield-halved"></i> {{#if system.armor.mod}}+{{/if}}{{system.armor.value}}</label>
                        </div>
                    </div>
                    {{/if}}
            {{/if}}

            {{{descriptionHTML}}}
        {{/if}}
    </div>
</section>
