<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="scrollable">

            {{#if systemFields.armor}}
                <div class="list-item list-item-header">
                    <div class="list-item-start skinny">
                        {{localize "SR5.ItemTypes.Armor"}}
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.armor.fields.value.hint}}">{{systemFields.armor.fields.value.label}}</label>
                    </div>
                    <div class="list-item-col">
                        <span>
                            <label data-tooltip="{{systemFields.armor.fields.hardened.hint}}">
                                {{systemFields.armor.fields.hardened.label}}&nbsp;{{formInput systemFields.armor.fields.hardened value=system.armor.hardened
                                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                        </span>
                        <span>
                            <label data-tooltip="{{systemFields.armor.fields.mod.hint}}">
                                {{systemFields.armor.fields.mod.label}}&nbsp;{{formInput systemFields.armor.fields.mod value=system.armor.mod
                                                                                         classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                        </span>
                        <span>
                            {{formInput systemFields.armor.fields.value value=system.armor.value
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </span>
                    </div>
                </div>

                {{!-- Iterate over damage types provided from config to display the fields --}}
                {{#each config.elementTypes as |_ignored element_id|}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{objValue (objValue @root.systemFields.armor.fields element_id) 'hint'}}">
                                {{objValue (objValue @root.systemFields.armor.fields element_id) 'label'}}
                            </label>
                        </div>
                        <div class="list-item-col">
                            {{formInput (objValue @root.systemFields.armor.fields element_id)
                                        value=(objValue @root.system.armor element_id)
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode }}
                        </div>
                    </div>
                {{/each}}
            {{/if}}

            {{#if (eq item.type 'ammo')}}
                <div class="list-item list-item-header">
                    <div class="list-item-start skinny">
                        {{localize "SR5.ItemTypes.Ammo"}}
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label>{{localize "SR5.Damage"}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.damage value=system.damage
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        <label style="text-wrap: nowrap" data-tooltip="{{systemFields.replaceDamage.hint}}">
                            {{systemFields.replaceDamage.label}}&nbsp;{{formInput systemFields.replaceDamage value=system.replaceDamage
                                                                                  classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </label>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.damageType.hint}}">{{systemFields.damageType.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.damageType value=system.damageType localize=true
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.element.hint}}">{{systemFields.element.label}}</label>
                    </div>
                    <div class="list-item-col">
                            {{formInput systemFields.element value=system.element localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.ap.hint}}">{{systemFields.ap.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.ap value=system.ap
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        <label style="text-wrap: nowrap" data-tooltip="{{systemFields.replaceAP.hint}}">
                            {{systemFields.replaceAP.label}}&nbsp;{{formInput systemFields.replaceAP value=system.replaceAP
                                                                              classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </label>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.accuracy.hint}}">{{systemFields.accuracy.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.accuracy value=system.accuracy
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.blast.fields.radius.hint}}">{{systemFields.blast.fields.radius.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.blast.fields.radius value=system.blast.radius
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.blast.fields.dropoff.hint}}">{{systemFields.blast.fields.dropoff.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.blast.fields.dropoff value=system.blast.dropoff
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>
            {{else if (isType item 'device' 'host')}}

                {{#if (isType item 'host')}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label>{{localize "SR5.Host.CustomAttributes"}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.customAttributes value=source.system.customAttributes
                                        rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                {{/if}}

                {{#unless (eq system.category 'living_persona')}}
                    {{#each system.atts as |att att_id|}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                {{#ifin @root.system.category (toArray "cyberdeck" "host")}}
                                    <select class="short" name="system.atts.{{att_id}}.att" {{#if @root.isPlayMode}}disabled{{/if}}>
                                        {{selectOptions @root.config.matrixAttributes selected=att.att
                                                        localize=true rootId=@root.rootId disabled=@root.isPlayMode}}
                                    </select>
                                {{else}}
                                    <label>{{localize (lookup @root.config.matrixAttributes att.att)}}</label>
                                {{/ifin}}
                            </div>
                            <div class="list-item-col">
                                {{formInput (objValue (objValue (objValue @root.systemFields.atts.fields att_id) 'fields') 'value')
                                            classes="short" value=att.value rootId=@root.rootId disabled=(or @root.isPlayMode (not att.editable)) }}
                            </div>
                        </div>
                    {{/each}}
                    {{#if (isType item 'device')}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label>{{localize "SR5.Programs"}}</label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.programs value=system.programs classes="short"
                                            rootId=rootId disabled=@root.isPlayMode }}
                            </div>
                        </div>
                    {{/if}}
                {{/unless}}
            {{else if (eq item.type 'weapon')}}
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.category.hint}}">{{systemFields.category.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.category value=source.system.category localize=true
                                    classes="short" rootId=@root.rootId disabled=(or @root.isPlayMode spirit)}}
                    </div>
                </div>

                {{#if (eq system.category 'range')}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label>{{localize "SR5.FireMode"}}</label>
                        </div>
                        <div class="list-item-col">
                            <label data-tooltip="{{systemFields.range.fields.modes.fields.single_shot.hint}}">
                                {{systemFields.range.fields.modes.fields.single_shot.label}}
                                {{formInput systemFields.range.fields.modes.fields.single_shot value=source.system.range.modes.single_shot rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                            <label data-tooltip="{{systemFields.range.fields.modes.fields.semi_auto.hint}}">
                                {{systemFields.range.fields.modes.fields.semi_auto.label}}
                                {{formInput systemFields.range.fields.modes.fields.semi_auto value=source.system.range.modes.semi_auto rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                            <label data-tooltip="{{systemFields.range.fields.modes.fields.burst_fire.hint}}">
                                {{systemFields.range.fields.modes.fields.burst_fire.label}}
                                {{formInput systemFields.range.fields.modes.fields.burst_fire value=source.system.range.modes.burst_fire rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                            <label data-tooltip="{{systemFields.range.fields.modes.fields.full_auto.hint}}">
                                {{systemFields.range.fields.modes.fields.full_auto.label}}
                                {{formInput systemFields.range.fields.modes.fields.full_auto value=source.system.range.modes.full_auto rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.ammo.fields.clip_type.hint}}">{{systemFields.ammo.fields.clip_type.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.ammo.fields.clip_type value=source.system.ammo.clip_type localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.ammo.fields.spare_clips.fields.value.hint}}">{{localize "SR5.SpareClips"}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.ammo.fields.spare_clips.fields.value value=source.system.ammo.spare_clips.value
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            /
                            {{formInput systemFields.ammo.fields.spare_clips.fields.max value=source.system.ammo.spare_clips.max
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.range.fields.rc.fields.base.hint}}">{{systemFields.range.fields.rc.fields.base.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.range.fields.rc.fields.base value=source.system.range.rc.base
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.range.fields.ranges.fields.category.hint}}">{{systemFields.range.fields.ranges.fields.category.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.range.fields.ranges.fields.category value=source.system.range.ranges.category localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label>{{localize "SR5.Weapon.Range.Ranges"}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.range.fields.ranges.fields.short value=source.system.range.ranges.short
                                        classes="short midd" rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            /
                            {{formInput systemFields.range.fields.ranges.fields.medium value=source.system.range.ranges.medium
                                        classes="short midd" rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            /
                            {{formInput systemFields.range.fields.ranges.fields.long value=source.system.range.ranges.long
                                        classes="short midd" rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            /
                            {{formInput systemFields.range.fields.ranges.fields.extreme value=source.system.range.ranges.extreme
                                        classes="short midd" rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            x
                            {{formInput systemFields.range.fields.ranges.fields.attribute value=source.system.range.ranges.attribute options=(config2Array attributes) localize=true
                                        classes="short thicc" rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                        </div>
                    </div>

                {{else if (eq system.category 'thrown')}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.thrown.fields.ranges.fields.category.hint}}">{{systemFields.thrown.fields.ranges.fields.category.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.thrown.fields.ranges.fields.category
                                        value=source.system.thrown.ranges.category localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.thrown.fields.ranges.fields.category.hint}}">{{systemFields.thrown.fields.ranges.fields.category.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.thrown.fields.ranges.fields.short
                                        value=source.system.thrown.ranges.short classes="short midd"
                                        rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            /
                            {{formInput systemFields.thrown.fields.ranges.fields.medium
                                        value=source.system.thrown.ranges.medium classes="short midd"
                                        rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            /
                            {{formInput systemFields.thrown.fields.ranges.fields.long
                                        value=source.system.thrown.ranges.long classes="short midd"
                                        rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            /
                            {{formInput systemFields.thrown.fields.ranges.fields.extreme
                                        value=source.system.thrown.ranges.extreme classes="short midd"
                                        rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}
                            x
                            {{formInput systemFields.thrown.fields.ranges.fields.attribute
                                        value=source.system.thrown.ranges.attribute
                                        options=(config2Array attributes) localize=true classes="short"
                                        rootId=@root.rootId disabled=(or @root.isPlayMode @root.isUsingRangeCategory)}}

                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.thrown.fields.blast.fields.radius.hint}}">{{systemFields.thrown.fields.blast.fields.radius.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.thrown.fields.blast.fields.radius
                                        value=source.system.thrown.blast.radius classes="short"
                                        rootId=@root.rootId disabled=@root.isPlayMode}}&nbsp;m
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.thrown.fields.blast.fields.dropoff.hint}}">{{systemFields.thrown.fields.blast.fields.dropoff.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.thrown.fields.blast.fields.dropoff
                                        value=source.system.thrown.blast.dropoff classes="short"
                                        rootId=@root.rootId disabled=@root.isPlayMode}}&nbsp;/&nbsp;m
                        </div>
                    </div>

                {{else if (eq system.category 'melee')}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.melee.fields.reach.hint}}">{{systemFields.melee.fields.reach.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.melee.fields.reach value=source.system.melee.reach
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                {{/if}}

            {{else if (eq item.type 'modification')}}
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.type.hint}}">{{systemFields.type.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.type value=system.type localize=true
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>

                {{#if (eq system.type 'weapon')}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.mount_point.hint}}">{{systemFields.mount_point.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.mount_point value=system.mount_point localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.dice_pool.hint}}">{{systemFields.dice_pool.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.dice_pool value=system.dice_pool
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.accuracy.hint}}">{{systemFields.accuracy.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.accuracy value=system.accuracy
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.rc.hint}}">{{systemFields.rc.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.rc value=system.rc
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.conceal.hint}}">{{systemFields.conceal.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.conceal value=system.conceal
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>


                {{else if (eq system.type 'vehicle')}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.modification_category.hint}}">{{systemFields.modification_category.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.modification_category value=system.modification_category localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.slots.hint}}">{{systemFields.slots.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.slots value=system.slots
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>

                {{else if (eq system.type 'drone')}}

                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.slots.hint}}">{{systemFields.slots.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.slots value=system.slots
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}
            {{#if systemFields.action}}
                <div class="list-item list-item-header">
                    <div class="list-item-start skinny">
                        <label>
                            {{#if (isType item 'weapon')}}
                                {{localize "SR5.Attack"}}
                            {{else}}
                                {{localize "SR5.Action"}}
                            {{/if}}
                        </label>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.action.fields.test.hint}}">{{systemFields.action.fields.test.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.action.fields.test value=system.action.test options=(tests2Array activeTests)
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>
                {{#if system.action.test}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.action.fields.type.hint}}">{{systemFields.action.fields.type.label}}</label>
                        </div>
                        <div class="list-item-col">
                            <label style="text-wrap: nowrap;">
                                {{localize "SR5.ExtendedTest"}}&nbsp;{{formInput systemFields.action.fields.extended value=system.action.extended
                                                                                 rootId=@root.rootId disabled=@root.isPlayMode}}
                            </label>
                            {{formInput systemFields.action.fields.type value=system.action.type localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    {{#if (eq item.type 'action')}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.categories.hint}}">{{systemFields.action.fields.categories.label}}</label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.categories value=system.action.categories options=config.actionCategories
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>
                    {{/if}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label>{{localize "SR5.Roll"}}</label>
                        </div>
                        <div class="list-item-col">
                            {{!-- Hide this field the attribtue2 is set and the skill isn't set --}}
                            {{#unless (and system.action.attribute2 (not system.action.skill))}}
                                <label style="text-wrap: nowrap;" data-tooltip="{{systemFields.action.fields.spec.hint}}">
                                    {{systemFields.action.fields.spec.label}}&nbsp;{{formInput systemFields.action.fields.spec value=system.action.spec
                                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                </label>
                                {{formInput systemFields.action.fields.skill value=system.action.skill options=(config2Array activeSkills) localize=true
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                <label>+</label>
                            {{/unless}}
                            {{formInput systemFields.action.fields.attribute value=system.action.attribute options=(config2Array attributes)
                                        localize=true classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            {{#unless system.action.skill}}
                                <label>+</label>
                                {{formInput systemFields.action.fields.attribute2 value=system.action.attribute2 options=(config2Array attributes)
                                            localize=true classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            {{/unless}}
                            <label>+</label>
                            {{formInput systemFields.action.fields.mod value=system.action.mod
                                        classes="short skinny" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label data-tooltip="{{systemFields.action.fields.modifiers.hint}}">{{systemFields.action.fields.modifiers.label}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.action.fields.modifiers value=system.action.modifiers options=config.modifierTypes
                                        localize=true classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                    {{#ifne item.type "spell"}}{{#ifne item.type "complex_form"}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.limit.fields.base.hint}}">{{systemFields.action.fields.limit.fields.base.label}}</label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.limit.fields.attribute value=system.action.limit.attribute options=(config2Array limits)
                                            localize=true classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                <label>+</label>
                                {{formInput systemFields.action.fields.limit.fields.base value=system.action.limit.base
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.threshold.fields.base.hint}}">{{systemFields.action.fields.threshold.fields.base.label}}</label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.threshold.fields.base
                                            value=system.action.threshold.base
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.roll_mode.hint}}">{{systemFields.action.fields.roll_mode.label}}</label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.roll_mode value=system.action.roll_mode localize=true
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>
                    {{/ifne}}{{/ifne}}
                {{/if}}
                <div class="list-item list-item-header">
                    <div class="list-item-start skinny">
                        <label>{{localize "SR5.Damage"}}</label>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label>{{localize "SR5.DamageType"}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.action.fields.damage.fields.type.fields.base
                                    value=system.action.damage.type.base localize=true
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>

                {{#if system.action.damage.type.base}}
                    {{#if (eq system.action.damage.type.base "matrix")}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.damage.fields.biofeedback.hint}}">
                                    {{systemFields.action.fields.damage.fields.biofeedback.label}}
                                </label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.damage.fields.biofeedback
                                            value=system.action.damage.biofeedback localize=true classes="short"
                                            rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>
                    {{else}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.damage.fields.element.fields.base.hint}}">
                                    {{systemFields.action.fields.damage.fields.element.fields.base.label}}
                                </label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.damage.fields.element.fields.base
                                            value=system.action.damage.element.base localize=true
                                            classes="short thicc" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>
                    {{/if}}
                    {{#unless (eq item.type 'spell')}}
                        <div class="list-item">
                            <div class="list-item-start skinny">
                                <label data-tooltip="{{systemFields.action.fields.damage.fields.base.hint}}">{{systemFields.action.fields.damage.fields.base.label}}</label>
                            </div>
                            <div class="list-item-col">
                                {{formInput systemFields.action.fields.damage.fields.base value=system.action.damage.base
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                {{formInput systemFields.action.fields.damage.fields.base_formula_operator
                                            value=system.action.damage.base_formula_operator
                                            classes="short skinny" rootId=@root.rootId disabled=@root.isPlayMode}}
                                {{formInput systemFields.action.fields.damage.fields.attribute
                                            value=system.action.damage.attribute options=(config2Array attributes) localize=true
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                        </div>

                        {{#unless (eq system.action.damage.type.base "matrix")}}
                            <div class="list-item">
                                <div class="list-item-start skinny">
                                    <label data-tooltip="{{systemFields.action.fields.damage.fields.ap.fields.base.hint}}">{{systemFields.action.fields.damage.fields.ap.fields.base.label}}</label>
                                </div>
                                <div class="list-item-col">
                                    {{formInput systemFields.action.fields.damage.fields.ap.fields.base
                                                value=system.action.damage.ap.base
                                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                    {{formInput systemFields.action.fields.damage.fields.ap.fields.base_formula_operator
                                                value=system.action.damage.ap.base_formula_operator
                                                classes="short skinny" rootId=@root.rootId disabled=@root.isPlayMode}}
                                    {{formInput systemFields.action.fields.damage.fields.ap.fields.attribute
                                                value=system.action.damage.ap.attribute
                                                options=(config2Array attributes) localize=true
                                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                </div>
                            </div>
                        {{/unless}}
                    {{/unless}}
                {{/if}}
                <div class="list-item list-item-header">
                    <div class="list-item-start skinny">
                        <label>{{systemFields.action.fields.opposed.fields.test.label}}</label>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.action.fields.opposed.fields.test.hint}}">{{systemFields.action.fields.opposed.fields.test.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.action.fields.opposed.fields.test value=system.action.opposed.test
                                    options=(tests2Array opposedTests) classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>

                {{#if system.action.opposed.test}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label>{{localize "SR5.Roll"}}</label>
                        </div>
                        <div class="list-item-col">
                            {{!-- Hide this field the attribtue2 is set and the skill isn't set --}}
                            {{#unless (and system.action.opposed.attribute2 (not system.action.opposed.skill))}}
                                {{formInput systemFields.action.fields.opposed.fields.skill value=system.action.opposed.skill
                                            options=(config2Array activeSkills) localize=true
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                                <label>+</label>
                            {{/unless}}
                            {{formInput systemFields.action.fields.opposed.fields.attribute
                                        value=system.action.opposed.attribute
                                        options=(config2Array attributes) localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            {{#unless system.action.opposed.skill}}
                                <label>+</label>
                                {{formInput systemFields.action.fields.opposed.fields.attribute2
                                            value=system.action.opposed.attribute2
                                            options=(config2Array attributes) localize=true
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            {{/unless}}
                            <label>+</label>
                            {{formInput systemFields.action.fields.opposed.fields.mod value=system.action.opposed.mod
                                        classes="short skinny" rootId=@root.rootId disabled=@root.isPlayMode}}
                        </div>
                    </div>
                {{/if}}
                <div class="list-item list-item-header">
                    <div class="list-item-start skinny">
                        <label>{{systemFields.action.fields.opposed.fields.resist.fields.test.label}}</label>
                    </div>
                </div>

                <div class="list-item">
                    <div class="list-item-start skinny">
                        <label data-tooltip="{{systemFields.action.fields.opposed.fields.resist.fields.test.hint}}">{{systemFields.action.fields.opposed.fields.resist.fields.test.label}}</label>
                    </div>
                    <div class="list-item-col">
                        {{formInput systemFields.action.fields.opposed.fields.resist.fields.test
                                    value=system.action.opposed.resist.test options=(tests2Array resistTests)
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                </div>

                {{#if system.action.opposed.resist.test}}
                    <div class="list-item">
                        <div class="list-item-start skinny">
                            <label>{{localize "SR5.Roll"}}</label>
                        </div>
                        <div class="list-item-col">
                            {{formInput systemFields.action.fields.opposed.fields.resist.fields.attribute
                                        value=system.action.opposed.resist.attribute
                                        options=(config2Array attributes) localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            <label>+</label>
                            {{formInput systemFields.action.fields.opposed.fields.resist.fields.attribute2
                                        value=system.action.opposed.resist.attribute2
                                        options=(config2Array attributes) localize=true
                                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            <label>+</label>
                            <a data-tooltip="{{systemFields.action.fields.opposed.fields.resist.fields.armor.label}}:&nbsp;{{systemFields.action.fields.opposed.fields.resist.fields.armor.hint}}"
                                {{#if @root.isEditMode}}
                               data-action="toggleResistArmor"
                                {{else}}
                               disabled
                                {{/if}}
                            >
                                {{#if system.action.opposed.resist.armor}}
                                    <i class="fas fa-shield"></i>
                                {{else}}
                                    <i class="far fa-shield"></i>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>
