<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="standard-form scrollable">
            {{formGroup systemFields.type value=system.type rootId=@root.rootId disabled=@root.isPlayMode}}
            {{formGroup systemFields.neighborhood value=system.neighborhood rootId=@root.rootId disabled=@root.isPlayMode}}
            {{formGroup systemFields.cost value=system.cost rootId=@root.rootId disabled=@root.isPlayMode}}
            {{formGroup systemFields.comforts value=system.comforts rootId=@root.rootId disabled=@root.isPlayMode}}
            {{formGroup systemFields.security value=system.security rootId=@root.rootId disabled=@root.isPlayMode}}
            {{formGroup systemFields.guests value=system.guests rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
</section>
