{{> 'systems/shadowrun5e/dist/templates/rolls/success-test-message.hbs'}}
{{#if (and test.failure test.actor)}}
<div class="sr5 chat-card roll-card">
    <div class="card-content">
        <div class="left-side">
            <div class="document">
                <img src="{{#if test.actor.prototypeToken.texture.src}}{{test.actor.prototypeToken.texture.src}}{{else}}{{speakerImg test.actor}}{{/if}}"
                     data-tooltip="{{speakerName test.actor}}" />
                <h3 class="header-name">
                    <a class="content-link"
                       draggable="true"
                       data-link=""
                       data-uuid="{{test.actor.uuid}}"
                       data-id="{{test.actor.id}}"
                       data-type="Actor"
                       data-tooltip="SR5.Tooltips.SummoningTest.DragOnCanvas">{{speakerName test.actor}}</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{{/if}}
