<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.hbs'}}
        <hr/>
        <div>
            <div class="form-group">
                <label>{{localize 'SR5.ActiveDefense'}}</label>
                <select name="test.data.activeDefense">
                    {{#select test.data.activeDefense}}
                    <option value="">{{localize 'SR5.None'}}</option>
                    {{#each test.data.activeDefenses as |mode key|}}
                    <option value="{{key}}" {{#if mode.disabled}}disabled{{/if}}>(+{{mode.value}}) {{localize mode.label}}{{#if mode.weapon}} -
                        {{mode.weapon}}{{/if}}
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    <div>
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.hbs'}}
    </div>
</form>
