{{#if item.system.armor.value}}
    <label>
        <i data-tooltip="SR5.Armor.label" class="fas fa-shield-halved"></i>
        {{#if item.system.armor.mod}}+{{/if}}{{item.system.armor.value}}
    </label>
{{/if}}
{{#if item.system.armor.elements.acid}}
    <label>
        <i data-tooltip="SR5.Element.Acid" class="{{elementIcon 'acid'}}"></i>
        {{item.system.armor.elements.acid}}
    </label>
{{/if}}
{{#if item.system.armor.elements.cold}}
    <label>
        <i data-tooltip="SR5.Element.Cold" class="{{elementIcon 'cold'}}"></i>
        {{item.system.armor.elements.cold}}
    </label>
{{/if}}
{{#if item.system.armor.elements.fire}}
    <label>
        <i data-tooltip="SR5.Element.Fire" class="{{elementIcon 'fire'}}"></i>
        {{item.system.armor.elements.fire}}
    </label>
{{/if}}
{{#if item.system.armor.elements.electricity}}
    <label>
        <i data-tooltip="SR5.Element.Electricity" class="{{elementIcon 'electricity'}}"></i>
        {{item.system.armor.elements.electricity}}
    </label>
{{/if}}
{{#if item.system.armor.elements.radiation}}
    <label>
        <i data-tooltip="SR5.Element.Radiation" class="{{elementIcon 'radiation'}}"></i>
        {{item.system.armor.elements.radiation}}
    </label>
{{/if}}
