<label>
    {{#if item.system.linkedActor}}
        <a data-uuid="{{item.system.linkedActor}}" data-action="openUuid">
            <i class="far fa-user-tag"></i>
        </a>
    {{else}}
        <i class="far fa-user-tag"></i>
    {{/if}}
    {{item.system.type}}
</label>
<label>{{localize "SR5.Contact.Connection"}}&nbsp;{{item.system.connection}}</label>
<label>{{localize "SR5.Contact.Loyalty"}}&nbsp;{{item.system.loyalty}}</label>
{{#if item.system.blackmail}}
    <label>{{localize "SR5.Contact.Blackmail"}}</label>
{{/if}}
{{#if item.system.family}}
    <label>{{localize "SR5.Contact.Family"}}</label>
{{/if}}
