{{#if item.system.appliedByTest}}
    <label>{{localize "SR5.ActiveEffect.FIELDS.appliedByTest.label"}}</label>
{{/if}}
{{#if item.system.onlyForEquipped}}
    <label>{{localize "SR5.ActiveEffect.FIELDS.onlyForEquipped.label"}}</label>
{{/if}}
{{#if item.system.onlyForWireless}}
    <label>{{localize "SR5.ActiveEffect.FIELDS.onlyForWireless.label"}}</label>
{{/if}}
{{#each item.system.targets as |target ti|}}
    <label>{{#if target.name}}{{target.name}}{{else}}{{localize "SR5.ActiveEffect.Target"}} {{sum ti 1}}{{/if}}:&nbsp;{{localizeOb target.applyTo @root.config.effectApplyTo}}
        {{#if target.onlyForItemTest}} — {{localize "SR5.ActiveEffect.FIELDS.onlyForItemTest.label"}}{{/if}}
        {{#each target.conditions as |condition ci|}}
            — {{localizeOb condition.type @root.config.effectFilterTypes}}
            ({{localizeOb condition.mode @root.config.effectSelectionModes}})
            {{#ife condition.type "attributes"}}{{#each condition.values}}{{localizeOb this @root.config.attributes}} {{/each}}{{/ife}}
            {{#ife condition.type "categories"}}{{#each condition.values}}{{localizeOb this @root.config.actionCategories}} {{/each}}{{/ife}}
            {{#ife condition.type "limits"}}{{#each condition.values}}{{localizeOb this @root.config.limits}} {{/each}}{{/ife}}
            {{#ife condition.type "skills"}}{{#each condition.values}}{{localizeActionSkill this}} {{/each}}{{/ife}}
            {{#ife condition.type "tests"}}{{#each condition.values}}{{localizeTest this}} {{/each}}{{/ife}}
        {{/each}}
    </label>
{{/each}}
