<label>{{localizeOb system.type @root.config.qualityTypes}}</label>
{{#if item.system.rating}}
    <label>{{localize "SR5.Rtg"}}&nbsp;{{item.system.rating}}</label>
{{/if}}
{{#if item.system.karma}}
    <label>{{localize "SR5.Karma"}}&nbsp;{{item.system.karma}}</label>
{{/if}}
