<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="fill-container standard-form">
            <div class=" fill-container scrollable">
                <div class="list-item list-item-header">
                    <div class="list-item-start">
                        <label>{{localize "SR5.Specializations"}}</label>
                    </div>
                    {{#if @root.isEditMode}}
                        <div class="list-item-icons">
                            <a data-action="addSpecialization">
                                {{localize "SR5.Add"}}&nbsp;<i class="fas fa-plus"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>
                {{!-- TODO: tamif - implement specialization display for new skill structure --}}
                {{!-- {{#each skill.specs as |spec index|}}
                <div class="list-item">
                    <div class="list-item-start">
                        {{formInput @root.skillFields.specs.element name=(concat @root.skill_name '.specs.' index) value=spec
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </div>
                    {{#if @root.isEditMode}}
                        <div class="list-item-icons">
                            <a data-action="removeSpecialization" data-index="{{index}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>
                {{/each}} --}}
                {{!-- Hide Skill Bonus fields if none are set, we will migrate them eventually --}}
                {{#if skill.bonus.length}}
                    <div class="list-item list-item-header">
                        <div class="list-item-start">
                            <label>{{localize "SR5.Bonuses"}}</label>
                        </div>
                        {{!-- Hide but keep the code around for debugging purposes
                        {{#if @root.isEditMode}}
                            <div class="list-item-icons">
                                <a data-action="addBonus">
                                    {{localize "SR5.Add"}}&nbsp;<i class="fas fa-plus"></i>
                                </a>
                            </div>
                        {{/if}}
                        --}}
                    </div>
                    {{#each skill.bonus as |bonus bonusId|}}
                        <div class="list-item">
                            <div class="list-item-start">
                                {{formInput @root.skillFields.bonus.element.fields.key
                                            name=(concat @root.skill_name '.bonus.' bonusId '.key') value=bonus.key
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                            <div class="list-item-start">
                                {{formInput @root.skillFields.bonus.element.fields.value
                                            name=(concat @root.skill_name '.bonus.' bonusId '.value') value=bonus.value
                                            classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                            </div>
                            {{#if @root.isEditMode}}
                                <div class="list-item-icons">
                                    <a data-action="removeBonus" data-index="{{bonusId}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</section>
