<div class="list-item list-item-header">
    <div class="list-item-start skinny">
        <label>{{localize (objValue @root.config.itemTypes item.type)}}</label>
    </div>
</div>

<div class="list-item">
    <div class="list-item-start skinny">
        <label data-tooltip="{{systemFields.type.hint}}">{{systemFields.type.label}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.type value=source.system.type localize=true
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>
<div class="list-item">
    <div class="list-item-start skinny">
        <label data-tooltip="{{systemFields.descriptors.hint}}">{{systemFields.descriptors.label}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.descriptors value=source.system.descriptors
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>
