<div class="list-item list-item-header">
    <div class="list-item-start skinny">
        <label>{{localize (objValue @root.config.itemTypes item.type)}}</label>
    </div>
</div>

<div class="list-item">
    <div class="list-item-start skinny">
        <label data-tooltip="{{systemFields.category.hint}}">{{systemFields.category.label}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.category value=source.system.category localize=true
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>

{{#if (eq system.category 'combat')}}
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.combat.fields.type.hint}}">{{systemFields.combat.fields.type.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.combat.fields.type value=source.system.combat.type localize=true
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
{{else if (eq system.category 'detection')}}
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.detection.fields.type.hint}}">{{systemFields.detection.fields.type.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.detection.fields.type value=source.system.detection.type localize=true
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.detection.fields.extended.hint}}">{{systemFields.detection.fields.extended.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.detection.fields.extended value=source.system.detection.extended
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
{{else if (eq system.category 'illusion')}}
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.illusion.fields.type.hint}}">{{systemFields.illusion.fields.type.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.illusion.fields.type value=source.system.illusion.type localize=true
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.illusion.fields.sense.hint}}">{{systemFields.illusion.fields.sense.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.illusion.fields.sense value=source.system.illusion.sense localize=true
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
{{else if (eq system.category 'manipulation')}}
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.manipulation.fields.damaging.hint}}">{{systemFields.manipulation.fields.damaging.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.manipulation.fields.damaging value=source.system.manipulation.damaging
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.manipulation.fields.mental.hint}}">{{systemFields.manipulation.fields.mental.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.manipulation.fields.mental value=source.system.manipulation.mental
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.manipulation.fields.environmental.hint}}">{{systemFields.manipulation.fields.environmental.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.manipulation.fields.environmental value=source.system.manipulation.environmental
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.manipulation.fields.physical.hint}}">{{systemFields.manipulation.fields.physical.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.manipulation.fields.physical value=source.system.manipulation.physical
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
{{else if (eq system.category 'ritual')}}
    <div class="list-item">
        <div class="list-item-start skinny">
            <label data-tooltip="{{systemFields.ritual.fields.type.label}}:&nbsp;{{systemFields.ritual.fields.type.hint}}">{{systemFields.ritual.fields.type.label}}</label>
        </div>
        <div class="list-item-col">
            {{formInput systemFields.ritual.fields.type value=source.system.ritual.type localize=true
                        classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
{{/if}}

<div class="list-item">
    <div class="list-item-start skinny">
        <label data-tooltip="{{systemFields.type.hint}}">{{localize "SR5.Spell.Type"}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.type value=source.system.type localize=true
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>

<div class="list-item">
    <div class="list-item-start skinny">
        <label data-tooltip="{{systemFields.range.hint}}">{{localize "SR5.Range"}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.range value=source.system.range localize=true
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>

<div class="list-item">
    <div class="list-item-start skinny">
        <label data-tooltip="{{systemFields.duration.hint}}">{{localize "SR5.Duration"}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.duration value=source.system.duration localize=true
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>

<div class="list-item">
    <div class="list-item-start skinny">
        <label>{{localize "SR5.Drain"}}</label>
    </div>
    <div class="list-item-col">
        {{formInput systemFields.drain value=source.system.drain
                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
    </div>
</div>
