<div class="attribute" data-attribute-id="{{attributeField.name}}">
    {{#if isCyberdeck}}
        <label>
            <select class="matrix-att-selector sr5-select" name="matrix-{{key}}" data-att="{{key}}">
                {{selectOptions (matrixChoices item matrixAtt) selected=matrixAtt.device_att  }}
            </select>
        </label>
    {{else}}
        <label>
            {{localize label}}
        </label>
    {{/if}}
    <div class="attribute-value">
        {{#if @root.isEditMode}}
            <label>{{matrixAtt.base}}</label>
        {{else}}
            <button class="icon sr5-icon"
                    type="button"
                    data-action="rollAttribute"
                    data-attribute-modifier-tooltip="{{attributeField.name}}">{{matrixAtt.value}}</button>
        {{/if}}
    </div>
</div>
