<div class="new-list-item new-list-item-header{{#if @root.isPlayMode}} collapsible-header{{/if}}"
    {{#unless @root.isEditMode}}
     data-action="toggleExpanded"
     data-item-type="{{type}}"
    {{/unless}}>
    <div class="new-list-item-label-container{{#unless isOpen}} label-collapsed{{/unless}}">
        <label>{{localize label}}</label>
    </div>

    <div class="new-list-item-col">
        <label>{{localize "SR5.Armor.label"}}</label>
    </div>

    <div class="new-list-item-col rtg-col">
        <label>{{localize "SR5.Rating"}}</label>
    </div>

    <div class="new-list-item-col qty-input-col">
        <label>{{localize "SR5.Qty"}}</label>
    </div>

    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/toggle-expand-icon.hbs" isOpen=isOpen }}
    </div>
</div>
