{{!-- expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{cssClass}}">
    <div class="list-item" data-uuid="{{item.uuid}}">
        <div class="list-item-start">
            <div class="list-item-image-container">
                <img src="{{speakerImg item}}" />
            </div>
            <a data-action="openUuid">
                {{item.name}}
            </a>
        </div>

        <div class="list-item-col matrix-icon-col">
            <label>
                {{matrixIconType item}}
            </label>
        </div>

        <div class="list-item-icons skinny-icons">
            <a data-action="removeSlave">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
</div>
