<div class="list-item list-item-header{{#if @root.isPlayMode}} collapsible-header{{/if}}"
    {{#unless @root.isEditMode}}
     data-action="toggleExpanded"
     data-item-type="{{type}}"
    {{/unless}}>
    <div class="list-item-start{{#unless isOpen}} label-collapsed{{/unless}}">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col thicc-col">
        {{localize "SR5.MountPoint"}}
    </div>
    <div class="list-item-col skinny-col">
        {{localize "SR5.DP"}}
    </div>
    <div class="list-item-col thicc-col">
        {{localize "SR5.Accuracy"}}
    </div>
    <div class="list-item-col skinny-col">
        {{localize "SR5.RecoilCompensation"}}
    </div>
    <div class="list-item-col thicc-col">
        {{localize "SR5.Conceal"}}
    </div>

    <div class="list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
</div>
