{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        <div class="new-list-item-label-container">
            <a data-action="showItemDescription">
                {{#if name}}
                    {{name}}
                {{else}}
                    {{item.name}}
                {{/if}}
            </a>
        </div>

        <div class="new-list-item-col">
            <label>{{localizeOb item.system.mount_point @root.config.mountPoints}}</label>
        </div>
        <div class="new-list-item-col">
            <label>{{item.system.dice_pool}}</label>
        </div>
        <div class="new-list-item-col">
            <label>{{item.system.accuracy}}</label>
        </div>
        <div class="new-list-item-col">
            <label>{{item.system.rc}}</label>
        </div>
        <div class="new-list-item-col">
            <label>{{item.system.conceal}}</label>
        </div>

        <div class="new-list-item-icons">
            <a data-action="equipItem">
                <i class="{{#if item.system.technology.equipped}}fas fa-circle-check{{else}}far fa-circle{{/if}}"></i>
            </a>
            {{#if (canBeWireless item)}}
                {{#if (isBroken item)}}
                    <a data-tooltip="SR5.Broken" data-action="repairBrokenItem">
                        <i class="fas fa-link-slash"></i>
                    </a>
                {{else}}
                    <a data-action="toggleItemWireless">
                        <i {{#if (isRunningSilent item)}}
                           class="fa-duotone fa-wifi-fair"
                            {{else if (isWireless item)}}
                           class="fas fa-wifi"
                            {{else}}
                           class="fas fa-wifi-slash"
                            {{/if}}
                        ></i>
                    </a>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
