{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{cssClass}} {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="list-item draggable"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">

        <div class="list-item-start">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}
        </div>

        <div class="list-item-col thicc-col">
            <label>{{localizeOb item.system.mount_point @root.config.mountPoints}}</label>
        </div>
        <div class="list-item-col skinny-col">
            <label>{{item.system.dice_pool}}</label>
        </div>
        <div class="list-item-col thicc-col">
            <label>{{item.system.accuracy}}</label>
        </div>
        <div class="list-item-col skinny-col">
            <label>{{item.system.rc}}</label>
        </div>
        <div class="list-item-col thicc-col">
            <label>{{item.system.conceal}}</label>
        </div>

        <div class="list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/open-source-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
        </div>
    </div>
    {{#if (hasKey @root.expandedUuids item.uuid)}}
        <div class="list-item-desc">
            <div class="list-item-properties">
                {{> 'systems/shadowrun5e/dist/templates/v2/item-properties/technology.hbs' item=item }}
            </div>
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    {{/if}}
</div>
