{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    {{log item}}
    <div class="new-list-item" data-item-id="{{item._id}}">
        <div class="new-list-item-label-container">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
            <label
                class="{{#if system.importFlags.isFreshImport}}
                        {{#if (itemMarking "COLOR")}}fresh-import{{/if}}
                    {{/if}}">
                {{!-- allow overriding the name if provided --}}
                <a data-action="showItemDescription">
                    {{#if name}}
                        {{name}}
                    {{else}}
                        {{item.name}}
                    {{/if}}
                </a>
            </label>
        </div>

        <div class="new-list-item-col">
            {{localizeOb item.system.mount_point @root.config.mountPoints}}
        </div>
        <div class="new-list-item-col">
            {{item.system.dice_pool}}
        </div>
        <div class="new-list-item-col">
            {{item.system.accuracy}}
        </div>
        <div class="new-list-item-col">
            {{item.system.rc}}
        </div>
        <div class="new-list-item-col">
            {{item.system.conceal}}
        </div>

        <div class="new-list-item-icons">
            <a data-action="equipItem" data-item-id="{{this.uuid}}">
                <i   class="{{#if this.system.technology.equipped}}fas fa-circle-check{{else}}far fa-circle{{/if}}"></i>
            </a>
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
