<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.hbs'}}
        <hr/>
        <div>
            {{#if test.data.marks}}
            {{#> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"
                label=(localize 'SR5.Marks')
            }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.marks'
                    value=1
                    dtype='Number'
                    checked=(eq test.data.marks 1)
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip='1'
                }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.marks'
                    value=2
                    dtype='Number'
                    checked=(eq test.data.marks 2)
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip='2'
                }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.marks'
                    value=3
                    dtype='Number'
                    checked=(eq test.data.marks 3)
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip='3'
                }}
            {{/"systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"}}
            {{/if}}
            {{#> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"
                label=(localize 'SR5.ConnectionType')
            }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.connectionType'
                    value='same_grid'
                    checked=(eq test.data.connectionType 'same_grid')
                    disabled=test.data.isConnectionTypeLocked
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip=(localize 'SR5.SameGrid')
                }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.connectionType'
                    value='different_grid'
                    checked=(eq test.data.connectionType 'different_grid')
                    disabled=test.data.isConnectionTypeLocked
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip=(localize 'SR5.DifferentGrid')
                }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.connectionType'
                    value='direct_connection'
                    checked=(eq test.data.connectionType 'direct_connection')
                    disabled=test.data.isConnectionTypeLocked
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip=(localize 'SR5.DirectConnection')
                }}
            {{/"systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"}}
            {{#if test.controller}}
            <div class="document">
                <img src="{{test.controller.img}}"/>
                {{test.controller.name}}
            </div>
            {{/if}}
            <div class="form-group">
                <label>{{localize "SR5.Labels.Matrix.TargetMainIcon"}}</label>
                <input type="checkbox" class="checkbox" name="test.data.targetMainIcon" {{checked test.data.targetMainIcon}}/>
            </div>
            {{#if test.persona}}
            <!-- Persona targeted -->
            <div class="form-group">
                <label>{{localize "SR5.Target"}}</label>
                <div>{{speakerName test.persona}}</div>
            </div>
            {{/if}}
            {{#if test.host}}
            <div class="form-group">
                <label>{{localize "TYPES.Item.host"}}</label>
                <div>{{test.host.name}}</div>
            </div>
            {{/if}}
            {{#if test.grid}}
            <div class="form-group">
                <label>{{localize "TYPES.Item.grid"}}</label>
                <div>{{test.grid.name}}</div>
            </div>
            {{/if}}
            <!-- Devices connected to persona or host -->
            {{#ife test.data.targetMainIcon false}}
            <div class="form-group">
                <label>{{localize "SR5.Labels.Matrix.TargetDevice"}}</label>
                <select name="test.data.iconUuid" class="display">
                    {{#select test.data.iconUuid}}
                    {{#each test.devices}}
                    <option value="{{this.uuid}}">{{this.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            {{/ife}}
        </div>
        <div>
            {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.hbs'}}
        </div>
    </div>
</form>
