<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.hbs'}}
        <hr/>
        <div>
            {{#> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"
                label=(localize 'SR5.Cover')
            }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.cover'
                    value=0
                    dtype='Number'
                    checked=(eq test.data.cover 0)
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip=(localize 'SR5.NoCover')
                }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.cover'
                    value=2
                    dtype='Number'
                    checked=(eq test.data.cover 2)
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip=(localize 'SR5.PartialCover')
                }}
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                    type='radio'
                    name='test.data.cover'
                    value=4
                    dtype='Number'
                    checked=(eq test.data.cover 4)
                    iconPath='systems/shadowrun5e/dist/icons/importer/sin.svg'
                    tooltip=(localize 'SR5.GoodCover')
                }}
            {{/"systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"}}
            <div class="form-group">
                <label>{{localize 'SR5.ActiveDefense'}}</label>
                <select name="test.data.activeDefense">
                    {{#select test.data.activeDefense}}
                    <option value="">{{localize 'SR5.None'}}</option>
                    {{#each test.data.activeDefenses as |mode key|}}
                    <option value="{{key}}" {{#if mode.disabled}}disabled{{/if}}>(+{{mode.value}}) {{localize mode.label}}{{#if mode.weapon}} -
                        {{mode.weapon}}{{/if}}
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    <div>
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.hbs'}}
    </div>
</form>