<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.hbs'}}
        <hr/>
        <div>
            <div class="form-group">
                <label>{{localize "TYPES.Item.ammo"}}</label>
                <input type="text" class="disabled-for-display" disabled
                    value="{{test.item.system.ammo.current.value}}/{{test.item.system.ammo.current.max}}"/>
            </div>
            <div class="form-group">
                <label data-tooltip="SR5.Tooltips.RangedAttack.Recoil">
                    {{localize 'SR5.Recoil'}}
                    <span data-tooltip="SR5.Tooltips.RangedAttack.RecoilCompensation" style="font-weight: normal;"> (RC {{test.item.totalRecoilCompensation}})</span>
                </label>
                <div class="form-group-element-2">
                    <span data-tooltip="SR5.Tooltips.RangedAttack.RecoilBeforeAttack">{{test.recoilBeforeAttack}}</span>
                    <span data-tooltip="SR5.Tooltips.RangedAttack.RecoilAfterAttack">→ {{test.recoilAfterAttack}}</span>
                </div>
                <div id="reset-progressive-recoil" class="form-group-element-1-right roll" data-tooltip="SR5.Tooltips.RangedAttack.ResetRecoil"><button type="button">↺</button></div>
            </div>
            {{#> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"
                label=(localize 'SR5.FireMode')
                rowClass='fire-mode-choice-row'
                groupClass='fire-mode-choice-group'
            }}
                {{#each test.data.fireModes}}
                    {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                        type='radio'
                        name='test.data.fireModeSelected'
                        value=@index
                        dtype='Number'
                        checked=(eq @index ../test.data.fireModeSelected)
                        disabled=this.disabled
                        iconPath=(lookup @root.config.fireModeIcons this.label)
                        tooltip='Long Burst<br/>(6 bullets, -5 Defense, Simple Action)'
                        cornerLabel=(lookup @root.config.fireModeAcronyms this.label)
                    }}
                {{/each}}
            {{/"systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"}}
            {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/attack-range-dialog-fragment.hbs'}}
        </div>
        <div>
            {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.hbs'}}
        </div>
    </div>
</form>