<div class="attribute">
    <a class="attribute-label">
        {{#if label}}
            {{localize label}}
        {{else}}
            {{localize attribute.label}}
        {{/if}}
    </a>
    {{#if @root.isEditMode}}
        <div class="attribute-value">
            {{formInput attributeField.fields.base value=attribute.base classes="short" rootId=rootId }}
            <i style="font-size: 0.75rem" class="fas fa-plus"></i>
            {{formInput attributeField.fields.temp value=attribute.temp classes="short" rootId=rootId }}
        </div>
    {{else}}
        <div class="attribute-value">
            <span class="attribute-value-total">{{attribute.value}}</span>
        </div>
    {{/if}}
</div>
