<div class="attribute{{#if cssClass}} {{cssClass}}{{/if}}" data-attribute-id="{{ifThen attributeId attributeId attributeField.name}}" data-context-menu="attribute">
    <label {{#if @root.isEditMode}}class="edit-mode"{{/if}}>
        {{#if label}}
            {{localize label}}
        {{else}}
            {{localize attribute.label}}
        {{/if}}
    </label>
    <div class="attribute-value">
        {{#if @root.isEditMode}}
            {{#if @root.isSpirit}}
                <button type="button"
                        class="attribute-button force-apply-toggle{{#unless attribute.applies_special}} downlight{{/unless}}"
                        data-action="toggleSpiritForceAttribute"
                        data-attribute-id="{{ifThen attributeId attributeId attributeField.name}}"
                        data-tooltip="SR5.Spirit.ForceAppliesSettingHint">F +</button>
            {{else if @root.isSprite}}
                {{#if (eq (ifThen attributeId attributeId attributeField.name) 'resonance')}}
                    <button type="button"
                            class="attribute-button force-apply-toggle{{#unless attribute.applies_special}} downlight{{/unless}}"
                            data-action="toggleSpriteLevelAttribute"
                            data-attribute-id="{{ifThen attributeId attributeId attributeField.name}}"
                            data-tooltip="SR5.Sprite.LevelAppliesSettingHint">L +</button>
                {{/if}}
            {{/if}}
            {{formInput attributeField.fields.base value=attribute.base
                        classes="short skinny center" rootId=rootId }}
        {{else}}
            <button class="icon sr5-icon" type="button"
                    data-action="rollAttribute"
                    data-attribute-modifier-tooltip="{{attributeField.name}}"
                    data-modifier-tooltip-path="{{modifierTooltipPath}}">{{attribute.value}}</button>
        {{/if}}
    </div>
</div>
