<div class="attribute">
    <label>
        {{#if label}}
            {{localize label}}
        {{else}}
            {{localize attribute.label}}
        {{/if}}
    </label>
    <div class="attribute-value">
    {{#if @root.isEditMode}}
        {{formInput attributeField.fields.base value=attribute.base classes="short" rootId=rootId }}
        <i style="font-size: 0.75rem" class="fas fa-plus"></i>
        {{formInput attributeField.fields.temp value=attribute.temp classes="short" rootId=rootId }}
    {{else}}
        <button class="icon" type="button" data-action="rollAttribute" data-attribute-id="{{attributeField.name}}">{{attribute.value}}</button>
    {{/if}}
    </div>
</div>
