<div class="new-list-item new-list-item-header">
    {{#each favorites}}
    <div class="new-list-item-col">
        <a class="new-list-item-image-container"
                data-tooltip="{{this.name}} - {{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"
            {{#if @root.isPlayMode}}
                data-action="rollItem"
            {{else}}
                data-action="editItem"
            {{/if}}
                data-item-id="{{this.uuid}}">
            <img src="{{this.img}}"
                {{#if @root.isEditMode}}
                 class="new-list-item-image-edit"
                {{else if (hasRoll this)}}
                 class="new-list-item-image-roll"
                {{else}}
                 class="new-list-item-image-info"
                {{/if}}
            />
        </a>
    </div>
    {{else}}
        <div class="new-list-item-label-container">
            {{localize "SR5.Actor.NoFavoritesSelected"}}
        </div>
    {{/each}}
    <div class="new-list-item-icons">
        {{#if (eq actor.type 'vehicle')}}
            <a data-action="toggleChaseEnvironment" >
                <i {{#if (eq system.environment 'handling')}}
                data-tooltip="SR5.Vehicle.Environments.Handling"
                class="far fa-steering-wheel"
                {{else}}
                data-tooltip="SR5.Vehicle.Environments.Speed"
                class="far fa-gauge"
                {{/if}}
                ></i>
            </a>
            <a data-action="toggleOffRoad" >
                <i {{#if system.isOffRoad}}
                    data-tooltip="SR5.Vehicle.OffRoad"
                    class="far fa-truck-monster"
                    {{else}}
                    data-tooltip="SR5.Vehicle.OnRoad"
                    class="far fa-road"
                    {{/if}}
                ></i>
            </a>
        {{/if}}
        {{#if system.matrix}}
            <a data-action="togglePersonaRunningSilent" >
                <i {{#if system.matrix.running_silent}}
                    data-tooltip="SR5.RunningSilent"
                    class="fa-duotone fa-wifi-fair"
                    {{else}}
                    data-tooltip="SR5.Labels.ActorSheet.DisplayingPersona"
                    class="fas fa-wifi"
                    {{/if}}
                ></i>
            </a>
        {{/if}}
    </div>
</div>
