<div class="list-item list-item-header list-item-favorites">
    <div class="list-item-start">
    {{#each favorites}}
        <button class="list-item-image-container icon sr5-icon favorite"
            {{#if @root.isPlayMode}}
                data-tooltip="{{this.name}}"
                data-action="rollItem"
            {{else}}
                data-tooltip="SR5.Tooltips.Actor.RemoveFavorite"
                data-action="favoriteItem"
            {{/if}}
                data-item-id="{{this.id}}"
                data-uuid="{{this.uuid}}">
            <img src="{{this.img}}"
                {{#if @root.isEditMode}}
                 class="list-item-image-remove"
                {{else if (hasRoll this)}}
                 class="list-item-image-roll"
                {{else}}
                 class="list-item-image-info"
                {{/if}}
            />
        </button>
    {{else}}
        <label>{{localize "SR5.Actor.NoFavoritesSelected"}}</label>
    {{/each}}
    </div>
    <div class="list-item-icons">
        {{#if (eq actor.type 'vehicle')}}
            <button class="icon sr5-icon"
                    {{#if (eq system.environment 'handling')}}
                    data-tooltip="SR5.Vehicle.Environments.Handling"
                    {{else}}
                    data-tooltip="SR5.Vehicle.Environments.Speed"
                    {{/if}}
                    data-action="toggleChaseEnvironment" >
                <i {{#if (eq system.environment 'handling')}}
                class="far fa-steering-wheel"
                {{else}}
                class="far fa-gauge"
                {{/if}}
                ></i>
            </button>
            <button class="icon sr5-icon"
                    {{#if system.isOffRoad}}
                    data-tooltip="SR5.Vehicle.OffRoad"
                    {{else}}
                    data-tooltip="SR5.Vehicle.OnRoad"
                    {{/if}}
                    data-action="toggleOffRoad" >
                <i {{#if system.isOffRoad}}
                    class="far fa-truck-monster"
                    {{else}}
                    class="far fa-road"
                    {{/if}}
                ></i>
            </button>
        {{/if}}
        {{#if system.matrix}}
            {{#if actor.hasPersona}}
                <button class="icon sr5-icon"
                        {{#if system.matrix.running_silent}}
                        data-tooltip="SR5.RunningSilent"
                        {{else}}
                        data-tooltip="SR5.Labels.ActorSheet.DisplayingPersona"
                        {{/if}}
                        data-action="togglePersonaRunningSilent" >
                    <i {{#if system.matrix.running_silent}} class="fa-duotone fa-wifi-fair" {{else}} class="fas fa-wifi" {{/if}} ></i>
                </button>
                {{#unless (or network vehicle.master)}}
                    <button class="icon sr5-icon" data-action="openNetworkManager" data-tooltip="SR5.OpenNetworkManager">
                        <i class="fa-duotone fa-network-wired"></i>
                    </button>
                {{/unless}}
            {{/if}}
        {{/if}}
        {{#if isSpirit}}
            {{#if summoner}}
                <a class="content-link" draggable="true"
                   data-link data-type="Actor"
                   data-id="{{summoner.id}}"
                   data-uuid="{{summoner.uuid}}">
                    <i class="fas fa-ghost"></i>{{summoner.name}}
                    <a data-action="removeSummoner" class="close"><i class="fas fa-times"></i></a>
                </a>
            {{else}}
                <button class="icon sr5-icon" data-action="pickSummoner" data-tooltip="SR5.Tooltips.Actor.PickControlledTokenAsSummoner">
                    <span class="fa-stack" style="vertical-align: top; font-size: 0.75em">
                        <i class="fa-light fa-square-dashed fa-stack-2x"></i>
                        <i class="fas fa-ghost fa-stack-1x"></i>
                    </span>
                </button>
            {{/if}}
        {{else if isSprite}}
            {{#if technomancer}}
                <a class="content-link" draggable="true"
                   data-link data-type="Actor"
                   data-id="{{technomancer.id}}"
                   data-uuid="{{technomancer.uuid}}">
                    <i class="fas fa-user"></i>{{technomancer.name}}
                    <a data-action="removeTechnomancer" class="close"><i class="fas fa-times"></i></a>
                </a>
            {{else}}
                <button class="icon sr5-icon"
                        data-action="pickTechnomancer"
                        data-tooltip="SR5.Tooltips.Actor.PickControlledTokenAsTechnomancer">
                    <span class="fa-stack" style="vertical-align: top; font-size: 0.75em">
                        <i class="fa-light fa-square-dashed fa-stack-2x"></i>
                        <i class="fas fa-user fa-stack-1x"></i>
                    </span>
                </button>
            {{/if}}
        {{else if isVehicle}}
            {{#if vehicle.driver}}
                <div class="list-item">
                    <div class="list-item-start">
                        <a class="content-link" draggable="true" data-link data-type="Actor" data-id="{{vehicle.driver.id}}" data-uuid="{{vehicle.driver.uuid}}">
                            <i class="fas fa-steering-wheel"></i>{{vehicle.driver.name}}
                            <a data-action="removeVehicleDriver" class="close"><i class="fas fa-times"></i></a>
                        </a>
                    </div>
                </div>
            {{else}}
                <button class="icon sr5-icon" data-action="pickDriver" data-tooltip="SR5.Tooltips.Actor.PickControlledTokenAsDriver">
                    <span class="fa-stack" style="vertical-align: top; font-size: 0.75em">
                        <i class="fa-light fa-square-dashed fa-stack-2x"></i>
                        <i class="fas fa-steering-wheel fa-stack-1x"></i>
                    </span>
                </button>
            {{/if}}

        {{/if}}
    </div>
</div>
