<div class="list-item list-item-header">
    {{#each favorites}}
    <div class="list-item-col">
        <button class="list-item-image-container icon sr5-icon"
                data-tooltip="{{this.name}} - {{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"
            {{#if @root.isPlayMode}}
                data-action="rollItem"
            {{else}}
                data-action="editItem"
            {{/if}}
                data-item-id="{{this.uuid}}">
            <img src="{{this.img}}"
                {{#if @root.isEditMode}}
                 class="list-item-image-edit"
                {{else if (hasRoll this)}}
                 class="list-item-image-roll"
                {{else}}
                 class="list-item-image-info"
                {{/if}}
            />
        </button>
    </div>
    {{else}}
        <div class="list-item-start">
            {{localize "SR5.Actor.NoFavoritesSelected"}}
        </div>
    {{/each}}
    <div class="list-item-icons">
        {{#if (eq actor.type 'vehicle')}}
            <a data-action="toggleChaseEnvironment" >
                <i {{#if (eq system.environment 'handling')}}
                data-tooltip="SR5.Vehicle.Environments.Handling"
                class="far fa-steering-wheel"
                {{else}}
                data-tooltip="SR5.Vehicle.Environments.Speed"
                class="far fa-gauge"
                {{/if}}
                ></i>
            </a>
            <a data-action="toggleOffRoad" >
                <i {{#if system.isOffRoad}}
                    data-tooltip="SR5.Vehicle.OffRoad"
                    class="far fa-truck-monster"
                    {{else}}
                    data-tooltip="SR5.Vehicle.OnRoad"
                    class="far fa-road"
                    {{/if}}
                ></i>
            </a>
        {{/if}}
        {{#if system.matrix}}
            {{#if (or network vehicle.master)}}
                <a data-action="togglePersonaRunningSilent" >
                    <i {{#if system.matrix.running_silent}}
                    data-tooltip="SR5.RunningSilent"
                    class="fa-duotone fa-wifi-fair"
                    {{else}}
                    data-tooltip="SR5.Labels.ActorSheet.DisplayingPersona"
                    class="fas fa-wifi"
                    {{/if}}
                    ></i>
                </a>
            {{else}}
                <a data-action="openNetworkManager" data-tooltip="SR5.OpenNetworkManager">
                    <i class="fa-duotone fa-wifi-exclamation"></i>
                </a>
            {{/if}}
        {{/if}}
        {{#if isSpirit}}
            {{#if summoner}}
                <a class="content-link" draggable="true" data-link data-type="Actor" data-id="{{summoner.id}}" data-uuid="{{summoner.uuid}}">
                    <i class="fas fa-ghost"></i>{{summoner.name}}
                    <a data-action="removeSummoner" class="close"><i class="fas fa-times"></i></a>
                </a>
            {{else}}
                <a data-action="pickSummoner" data-tooltip="SR5.Tooltips.Actor.PickControlledTokenAsSummoner">
                                <span class="fa-stack" style="vertical-align: top; font-size: 0.75em">
                                    <i class="fa-light fa-square-dashed fa-stack-2x"></i>
                                    <i class="fas fa-ghost fa-stack-1x"></i>
                                </span>
                    {{localize "SR5.Spirit.MissingSummoner"}}
                </a>
            {{/if}}
        {{else if isSprite}}
            {{#if technomancer}}
                <a class="content-link" draggable="true" data-link data-type="Actor" data-id="{{technomancer.id}}" data-uuid="{{technomancer.uuid}}">
                    <i class="fas fa-user"></i>{{technomancer.name}}
                    <a data-action="removeTechnomancer" class="close"><i class="fas fa-times"></i></a>
                </a>
            {{else}}
                <a data-action="pickTechnomancer" data-tooltip="SR5.Tooltips.Actor.PickControlledTokenAsTechnomancer">
                    <span class="fa-stack" style="vertical-align: top; font-size: 0.75em">
                        <i class="fa-light fa-square-dashed fa-stack-2x"></i>
                        <i class="fas fa-user fa-stack-1x"></i>
                    </span>
                    {{localize "SR5.Sprite.MissingTechnomancer"}}
                </a>
            {{/if}}
        {{else if isVehicle}}
            {{#if vehicle.driver}}
                <div class="list-item">
                    <div class="list-item-start">
                        <a class="content-link" draggable="true" data-link data-type="Actor" data-id="{{vehicle.driver.id}}" data-uuid="{{vehicle.driver.uuid}}">
                            <i class="fas fa-steering-wheel"></i>{{vehicle.driver.name}}
                            <a data-action="removeVehicleDriver" class="close"><i class="fas fa-times"></i></a>
                        </a>
                    </div>
                </div>
            {{else}}
                <a data-action="pickDriver" data-tooltip="SR5.Tooltips.Actor.PickControlledTokenAsDriver">
                    <span class="fa-stack" style="vertical-align: top; font-size: 0.75em">
                        <i class="fa-light fa-square-dashed fa-stack-2x"></i>
                        <i class="fas fa-steering-wheel fa-stack-1x"></i>
                    </span>
                    {{localize "SR5.Vehicle.MissingDriver"}}
                </a>
            {{/if}}

        {{/if}}
    </div>
</div>
