<div class="new-list-item new-list-item-header">
    {{#each favorites}}
    <div class="new-list-item-col">
        <a class="new-list-item-image-container"
                data-tooltip="{{this.name}} - {{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"
            {{#if @root.isPlayMode}}
                data-action="rollItem"
            {{else}}
                data-action="editItem"
            {{/if}}
                data-item-id="{{this.uuid}}">
            <img src="{{this.img}}"
                {{#if @root.isEditMode}}
                 class="new-list-item-image-edit"
                {{else if (hasRoll this)}}
                 class="new-list-item-image-roll"
                {{else}}
                 class="new-list-item-image-info"
                {{/if}}
            />
        </a>
    </div>
    {{/each}}
    {{#unless (or isIC isSprite)}}
        <div class="new-list-item-label-container">
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/movement.hbs' }}
        </div>
    {{/unless}}
</div>
