<div class="attribute {{#if rollId}}RollId{{/if}}{{#if row}}row{{/if}} {{cssClass}}" data-{{dataName}}="{{dataId}}" {{#if rollId}}data-roll-id="{{rollId}}"{{/if}}>
    <div class="attribute-name roll {{#if rollId}}Roll{{/if}}">
        {{#if label}}
            {{localize label}}
        {{else}}
            {{localize attribute.label}}
        {{/if}}
    </div>
    <div class="attribute-value value">
        <span class="attribute-value-total">{{attribute.value}}</span>
        {{> "systems/shadowrun5e/dist/templates/v2/common/value-modifiers.hbs" value=attribute}}
    </div>
    <div class="track center {{#if disableBase}}{{#if disableManual}}invisible{{/if}}{{/if}}">
        <div class="attribute-input-container">
            {{> 'systems/shadowrun5e/dist/templates/v2/common/value-input.hbs'
                cssClass="attribute-input short"
                title="SR5.BaseValue"
                size="2"
                maxLength="2"
                value=attribute.base
                name=baseInputName
            }}
        </div>
    </div>
</div>
