{{#if @root.isPlayMode}}
    <div class="initiative-container">
        <div class="initiative-col">
            <div class="initiative-center">
                <label class="initiative-label">
                    {{localize "SR5.Initiative"}}
                </label>
            </div>
            {{#if (or isCharacter isSpirit)}}
                <div class="initiative-col">
                    <select class="presence-select sr5-select" name="initiative-select">
                        {{selectOptions initiativePerception.options value=initiativePerception.value localize=true}}
                    </select>
                </div>
            {{/if}}
        </div>
        <div class="initiative-col">
            <div class="initiative-end">
                <a data-action="toggleInitiativeBlitz" {{#if system.initiative.edge}}class="blitz-active"{{/if}}>
                    {{localize "SR5.Blitz"}}
                    {{#if system.initiative.edge}}
                        <i class="fas fa-toggle-on"></i>
                    {{else}}
                        <i class="fas fa-toggle-off"></i>
                    {{/if}}
                </a>
            </div>
            <button data-action="rollInitiative" type="button" class="short">
                <span>{{system.initiative.current.base.value}}</span>
                <i class="fas fa-plus" style="font-size: 0.75em"></i>
                <span>{{system.initiative.current.dice.value}}d6</span>
            </button>
        </div>
    </div>
{{/if}}
