<div class="scrollable skills">
    <div class="skill skill-header">
        <label>{{localize "SR5.Languages"}}</label>
        {{#if @root.isPlayMode}}
            <div class="skill-specializations">{{localize "SR5.Specializations"}}</div>
        {{/if}}
        <div class="skill-value">
            <span>{{localize "SR5.Rtg"}}</span>
        </div>
        <div class="skill-icons">
            {{#if @root.isEditMode}}
                <a data-action="addLanguageSkill">
                    <i class="fas fa-plus" ></i>
                </a>
            {{/if}}
        </div>
    </div>
    {{#each system.skills.language.value as |skill sid|}}
        {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/skill.hbs'
            skillPath=(concat "system.skills.language.value." sid)
            skill=skill
            rootId=@root.rootId
        }}
    {{/each}}
    {{#each system.skills.knowledge as |cat cid|}}
    <div class="skill skill-header">
        <label>{{localizeOb cid @root.config.knowledgeSkillCategories}}</label>
        {{#if @root.isPlayMode}}
            <div class="skill-specializations">{{localize "SR5.Specializations"}}</div>
        {{/if}}
        <div class="skill-value">
            <span>{{localize "SR5.Rtg"}}</span>
        </div>
        <div class="skill-icons">
            {{#if @root.isEditMode}}
                <a data-action="addKnowledgeSkill" data-knowledge="cid">
                    <i class="fas fa-plus"></i>
                </a>
            {{/if}}
        </div>
    </div>
    {{#each cat.value as |skill sid|}}
        {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/skill.hbs'
            skillPath=(concat (concat (concat "system.skills.knowledge." cid) ".value") sid)
            skill=skill
            rootId=@root.rootId
        }}
    {{/each}}
    {{/each}}
</div>
