{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item">
        <div class="new-list-item-label-container">
            {{#if (hasRoll item)}}
                <a>
                    <img src="{{item.img}}"
                         class="new-list-item-image"
                         height="24px"
                         width="24px"
                        {{#if (hasRoll item)}}
                         data-tooltip="{{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"
                         data-tooltip-direction="LEFT"
                        {{/if}}
                    />
                </a>
            {{else}}
                <img src="{{item.img}}" class="new-list-item-image" height="24px" width="24px" />
            {{/if}}
            {{#if system.importFlags.isFreshImport}}
                {{#if (itemMarking "ICON")}}
                    {{#if (itemMarking "COLOR")}}
                        <div class="item-img">
                            <img src="systems/shadowrun5e/dist/icons/checklist.svg" data-tooltip="SR5.IsFreshImport" height="24px" width="24px"/>
                        </div>
                    {{else}}
                        <div class="item-img">
                            <img src="systems/shadowrun5e/dist/icons/checklist-white.svg" data-tooltip="SR5.IsFreshImport" height="24px" width="24px"/>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
            <label
                class="{{#if (isBroken item)}}faded {{/if}}
                    {{#if system.importFlags.isFreshImport}}
                        {{#if (itemMarking "COLOR")}}fresh-import{{/if}}
                    {{/if}}"
            >
                {{!-- allow overriding the name if provided --}}
                <a data-action="showItemDescription" data-item-id="{{item.uuid}}">
                    {{#if name}}
                        {{name}}
                    {{else}}
                        {{item.name}}
                    {{/if}}
                </a>
            </label>
        </div>

        {{#if (eq item.type 'action')}}
            {{#if (isMatrixAction item)}}
                <div class="new-list-item-col">
                    {{marksRequired item}}
                </div>
            {{/if}}
        {{/if}}

        <div class="new-list-item-icons">
            {{#if (isOwner item owner=@root.actor)}}
            {{!-- Add Icons for what the Owner of an item can do --}}

                {{#if (canBeWireless item)}}
                    {{#if (isBroken item)}}
                        <a data-tooltip="SR5.Broken" data-action="repairBrokenItem" data-item-id="{{item.uuid}}">
                            <i class="fas fa-link-slash"></i>
                        </a>
                    {{else if (isRunningSilent item)}}
                        <a data-action="toggleItemWireless" data-item-id="{{item.uuid}}">
                            <i class="fa-duotone fa-wifi-fair"></i>
                        </a>
                    {{else if (isWireless item)}}
                        <a data-action="toggleItemWireless" data-item-id="{{item.uuid}}">
                            <i class="fas fa-wifi"></i>
                        </a>
                    {{else}}
                        <a data-action="toggleItemWireless" data-item-id="{{item.uuid}}">
                            <i class="fas fa-wifi"></i>
                        </a>
                    {{/if}}
                {{/if}}

                {{#if @root.isEditMode}}
                    <a data-action="editItem" data-item-id="{{item.uuid}}">
                        <i class="fas fa-pen-to-square"></i>
                    </a>
                    <a data-action="deleteItem" data-item-id="{{item.uuid}}">
                        <i class="fas fa-trash"></i>
                    </a>
                {{/if}}
            {{/if}}

            {{#if (hasSource item)}}
                <a data-tooltip="SR5.OpenSource" data-action="openItemSource" data-item-id="{{item.uuid}}">
                    <i class="fas fa-file"></i>
                </a>
            {{/if}}
        </div>
    </div>
    <div class="new-list-item-description">

    </div>
</div>
