<div class="attribute">
    <label>
        {{localize label}}
    </label>
    {{#if @root.isEditMode}}
        <div class="attribute-value">
            {{#if isCyberdeck}}
                <select class="matrix-att-selector short" name="matrix-{{key}}" data-att="{{key}}">
                    {{!selectOptions value=matrixAtt.device_att choices=item.atts }}
                    {{#select matrixAtt.device_att}}
                    {{#each item.atts as |att key|}}
                        <option value="{{key}}" data-tooltip="{{lookup ../matrixAttributes att.att}}">{{att.value}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            {{else}}
                <label>{{matrixAtt.base}}</label>
            {{/if}}
        </div>
    {{else}}
        <div class="attribute-value">
            <button class="icon sr5-icon" type="button" data-action="rollAttribute" data-attribute-id="{{attributeField.name}}">{{matrixAtt.value}}</button>
        </div>
    {{/if}}
</div>
