<div class="attribute">
    {{#if isCyberdeck}}
        <label>
            <select class="matrix-att-selector" name="matrix-{{key}}" data-att="{{key}}">
                {{selectOptions (matrixChoices item matrixAtt) selected=matrixAtt.device_att  }}
            </select>
        </label>
    {{else}}
        <label>
            {{localize label}}
        </label>
    {{/if}}
    {{#if @root.isEditMode}}
        <div class="attribute-value">
            <label>{{matrixAtt.base}}</label>
        </div>
    {{else}}
        <div class="attribute-value">
            <button class="icon sr5-icon" type="button" data-action="rollAttribute" data-attribute-id="{{attributeField.name}}">{{matrixAtt.value}}</button>
        </div>
    {{/if}}
</div>
