<div class="basic-row">
    <label class="fas fa-person-walking"></label>
    <label data-tooltip="SR5.WalkingSpeed">{{system.movement.walk.value}}m</label>
    <label>/</label>
    <label data-tooltip="SR5.RunningSpeed">{{system.movement.run.value}}m</label>
    {{#unless isVehicle}}
    <label>/</label>
    {{#if @root.isEditMode}}
        {{formInput systemFields.movement.fields.sprint value=system.movement.sprint classes="short skinny" rootId=rootId}}
    {{else}}
        <a>
            <span style="white-space: nowrap" data-tooltip="SR5.SprintingBonus">
                <i style="font-size: 0.75em;" class="fas fa-plus"></i>{{system.movement.sprint}}
            </span>
        </a>
    {{/if}}
    {{/unless}}
</div>
