<div class="skill {{skillClass skill}}">
    <label>
        <a data-action="rollSkill" data-skill="{{skill.id}}">{{localizeSkill skill}}</a>
    </label>
    {{#if @root.isPlayMode}}
        <div class="skill-specializations">{{skillSpecializations skill}}</div>
    {{/if}}
    <div class="skill-value">
        {{#if @root.isEditMode}}
            {{!-- use the original method of setting data because skills are weird in data model, they'll be items eventually --}}
            <input type="number" name="{{concat skillPath '.base'}}" class="short" value="{{skill.base}}" data-skill="{{skill.id}}" >
            <i style="font-size: 0.75rem" class="fas fa-plus"></i>
            <input type="number" name="{{concat skillPath '.temp'}}" class="short" value="{{skill.temp}}" data-skill="{{skill.id}}" >
        {{else}}
            {{skill.value}}
        {{/if}}
    </div>
    <div class="skill-icons">
        <a data-action="openSkillSource" data-skill="{{skill.id}}">
            <i class="fas fa-file" data-tooltip="SR5.OpenSource"></i>
        </a>
        {{#if @root.isEditMode}}
            <a data-action="deleteSkill" data-skill="{{skill.id}}">
                <i class="fas fa-trash" data-tooltip="SR5.DeleteSkill"></i>
            </a>
        {{/if}}
    </div>
</div>
