<div class="fill-container">
    {{> 'systems/shadowrun5e/dist/templates/v2/common/header-block.hbs' name=(localize "SR5.Labels.ActorSheet.SpiritConfiguration") }}
    <section class="standard-form scrollable">
        <div class="form-group">
            <label>
                {{localize "SR5.Spirit.Summoner"}}
            </label>
            <div class="form-fields">
                {{#if summoner}}
                    <a class="content-link" draggable="true" data-link data-type="Actor" data-id="{{summoner.id}}" data-uuid="{{summoner.uuid}}">
                        <i class="fas fa-user"></i>{{summoner.name}}
                        <a class="close summoner-remove"><i class="fas fa-times"></i></a>
                    </a>
                {{else}}
                    <span data-tooltip="SR5.Tooltips.Actor.MissingSummoner">{{localize "SR5.Spirit.MissingSummoner"}}</span>
                {{/if}}
            </div>
        </div>
        {{formGroup systemFields.spiritType value=source.system.spiritType disabled=@root.isPlayMode }}
        {{formGroup systemFields.force value=source.system.force disabled=@root.isPlayMode }}
        {{formGroup systemFields.registered value=source.system.registered disabled=@root.isPlayMode }}
    </section>
</div>
