<div class="fill-container">
    {{> 'systems/shadowrun5e/dist/templates/v2/common/header-block.hbs' name=(localize "SR5.Labels.ActorSheet.SpriteConfiguration") }}
    <section class="standard-form scrollable">
        <div class="form-group">
            <label>
                {{localize "SR5.Sprite.Technomancer"}}
            </label>
            <div class="form-fields">
                {{#if technomancer}}
                    <a class="content-link" draggable="true" data-link data-type="Actor" data-id="{{technomancer.id}}" data-uuid="{{technomancer.uuid}}">
                        <i class="fas fa-user"></i>{{technomancer.name}}
                        <a class="close technomancer-remove"><i class="fas fa-times"></i></a>
                    </a>
                {{else}}
                    <span data-tooltip="SR5.Tooltips.Actor.MissingTechnomancer">{{localize "SR5.Sprite.MissingTechnomancer"}}</span>
                {{/if}}
            </div>
        </div>
        {{formGroup systemFields.spriteType value=source.system.spriteType disabled=@root.isPlayMode }}
        {{formGroup systemFields.level value=source.system.level disabled=@root.isPlayMode }}
        {{formGroup systemFields.registered value=source.system.registered disabled=@root.isPlayMode }}
    </section>
</div>
