<div class="attributes no-border">
    <div class="attribute row space-around">
        <div class="attribute-name Roll" data-roll-id="drone.pilot-vehicle">
            {{localize "SR5.Labels.ActorSheet.RollPilotVehicleTest"}}
        </div>
        <div data-tooltip="SR5.Defense" class="attribute-name Roll" data-roll-id="drone.perception">
            {{localize "SR5.Labels.ActorSheet.RollDronePerception"}}
        </div>
        <div data-tooltip="SR5.Soak" class="attribute-name Roll" data-roll-id="drone.infiltration">
            {{localize "SR5.Labels.ActorSheet.RollDroneInfiltration"}}
        </div>
        <div
            data-tooltip="SR5.Roll"
            class="attribute-name Roll fas fa-dice-six"
            data-roll-id="prompt-roll"
        ></div>
        <div data-tooltip="SR5.Defense" class="attribute-name Roll" data-roll-id="defense">
            {{localize "SR5.RollDefense"}}
        </div>
        <div data-tooltip="SR5.Soak" class="attribute-name Roll" data-roll-id="damage-resist">
            {{localize "SR5.RollSoak"}}
        </div>
        <div class="attribute-name Roll" data-roll-id="armor">
            {{localize "SR5.RollArmor"}} ({{system.armor.value}})
        </div>
    </div>
</div>
