<div class="fill-container">
    <div class="new-list-item new-list-item-header">
        <div class="new-list-item-label-container">
            {{#if system.isDrone}}
                <label>{{localize "SR5.ModPoints"}}</label>
            {{else}}
                <label>{{localize "SR5.ModificationCategories"}}</label>
            {{/if}}
        </div>
    </div>
    <section id="vehicle-options-scroll" class="scrollable">
        {{#if system.isDrone}}
        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.ModPoints"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                   {{calcModPointSlots items}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>

        {{else}}

        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.Vehicle.ModificationCategoryTypes.body"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                    {{calcModificationCategorySlots items "body"}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>
        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.Vehicle.ModificationCategoryTypes.cosmetic"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                    {{calcModificationCategorySlots items "cosmetic"}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>
        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.Vehicle.ModificationCategoryTypes.electromagnetic"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                    {{calcModificationCategorySlots items "electromagnetic"}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>
        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.Vehicle.ModificationCategoryTypes.power_train"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                    {{calcModificationCategorySlots items "power_train"}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>
        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.Vehicle.ModificationCategoryTypes.protection"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                    {{calcModificationCategorySlots items "protection"}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>
        <div class="new-list-item">
            <div class="new-list-item-label-container">
                <label>{{localize "SR5.Vehicle.ModificationCategoryTypes.weapons"}}</label>
            </div>
            <div class="new-list-item-col">
                <span style="white-space: nowrap">
                    {{calcModificationCategorySlots items "weapons"}} / {{calcModificationSlotsAvailable actor}}
                </span>
            </div>
        </div>
        {{/if}}
    </section>
</div>

