<form class="{{cssClass}} card" autocomplete="off">
    <div class="card-background-image" style="background-image: url('{{item.img}}');"></div>

    <header class="card-header">
        <h1>{{item.name}}</h1>
        <h2>{{system.range.ranges.category}}</h2>
    </header>

    <section class="card-main">
        <div class="card-image">
            <img src="{{item.img}}" alt="{{item.name}}" />
        </div>

        <div class="info-box">
            <div class="description">
                <strong>DESCRIPTION:</strong>
                <p>{{{system.description.value}}}</p>
            </div>
            <div class="modifications">
                <strong>MODIFICATIONS:</strong>
                <p>{{system.modifications}}</p>
            </div>
        </div>
    </section>

    <section class="card-stats">
        <div class="stats-table">
            <div class="stat-header">
                <span>ACC</span>
                <span>DAM</span>
                <span>AP</span>
                <span>MODE</span>
                <span>RC</span>
                <span>AMMO</span>
                <span>AVAIL</span>
                <span>COST</span>
            </div>
            <div class="stat-row">
                <span>{{system.action.limit.base}}</span>
                <span>{{system.action.damage.base}}{{system.action.damage.type.base}}</span>
                <span>{{system.action.damage.ap.base}}</span>
                <span>{{system.modes}}</span>
                <span>{{system.rc.value}}</span>
                <span>{{system.ammo.current.max}} ({{system.ammo.type}})</span>
                <span>{{system.technology.availability}}</span>
                <span>{{system.technology.cost}}¥</span>
            </div>
        </div>
    </section>
</form>
