{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item {{#if (isOwner item owner=@root.actor)}} draggable {{/if}}"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}

        <div class="new-list-item-col">
            <label>
                {{localizeOb item.system.type @root.config.spellTypes}}
            </label>
        </div>
        <div class="new-list-item-col">
            <label>
                {{localizeOb item.system.range @root.config.spellRanges}}
            </label>
        </div>
        <div class="new-list-item-col">
            <label>
                {{localizeOb item.system.duration @root.config.durations}}
            </label>
        </div>
        <div class="new-list-item-col">
            <label>
                {{item.system.drain}}
            </label>
        </div>

        {{#if @root.isEditMode}}
            <div class="new-list-item-icons">
                {{#if (isOwner item owner=@root.actor)}}
                    {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
                {{/if}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/favorite-icon.hbs' item }}
            </div>
        {{/if}}
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
