<div class="sheet-header">
    {{#if @root.isEditMode}}
        <a>
            <img class="sheet-image" src="{{skill.img}}" data-action="editImage" />
        </a>
    {{else}}
        <img class="sheet-image" src="{{skill.img}}" />
    {{/if}}
    <div class="sheet-header-labels">
        <div class="sheet-header-name">
            {{> 'systems/shadowrun5e/dist/templates/v2/common/document-source-icon.hbs' skill.link }}
            <div style="flex: 1">
                {{#if editable_name}}
                    {{formInput skillFields.label value=skill.name name=(concat skill_name '.name') classes='sheet-name'
                                placeholder=(localize "SR5.Name") disabled=@root.isPlayMode rootId=rootId}}
                {{else}}
                    <input class="sheet-name" type="text" value={{localize skill.label}} disabled>
                {{/if}}
            </div>
        </div>
        {{#if @root.isEditMode}}
            <div class="sheet-header-source">
                {{formInput skillFields.link value=skill.link name=(concat skill_name '.link')
                            placeholder=(localize "SR5.Source") rootId=rootId}}
            </div>
        {{else}}
            <div>
                <div class="new-list-item">
                    <div class="new-list-item-label-container">
                        <label>{{localize "SR5.Value"}}&nbsp;</label>
                        <button class="icon" type="button" data-action="rollSkill">{{skill.value}}</button>
                    </div>
                    {{#if skill.group}}
                        <div class="new-list-item-label-container">
                            <label>{{localize "SR5.Skill.SkillGroup"}}&nbsp;{{skill.group}}</label>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
    {{#if @root.isEditMode}}
    <div>
        <div>
            <div class="new-list-item">
                <div class="new-list-item-label-container">
                    <label>{{localize "SR5.Value"}}&nbsp;</label>
                </div>
                <div class="new-list-item-label-container">
                    {{formInput skillFields.base name=(concat skill_name '.base') value=skill.base
                                rootId=@root.rootId disabled=@root.isPlayMode}}
                </div>
            </div>
        </div>
        <div>
            <div class="new-list-item">
                <div class="new-list-item-label-container">
                    <label>{{localize "SR5.Skill.SkillGroup"}}</label>
                </div>
                <div class="new-list-item-label-container">
                    {{formInput skillFields.group value=skill.group name=(concat skill_name '.group')
                                rootId=@root.rootId disabled=@root.isPlayMode}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
