<div class="new-list-item new-list-item-header {{cssClass}}"
     {{#if headerAction}}
     data-action="{{headerAction}}"
     {{/if}}
>
    <div class="new-list-item-label-container">
        <label>{{localize label}}</label>
    </div>
    {{#if @root.isPlayMode}}
    <div class="new-list-item-col">
        <label>{{localize "SR5.Specializations"}}</label>
    </div>
    {{/if}}
    <div class="new-list-item-col {{#if @root.isPlayMode}} skinny-col {{/if}}">
        <label>{{localize "SR5.Rtg"}}</label>
    </div>
    <div class="new-list-item-icons{{#if @root.isPlayMode}} skinny-icons {{/if}}">
        {{#if @root.isEditMode}}
            {{#if addAction}}
                <a data-action="{{addAction}}"
                   data-skill-type="{{addSkillType}}">
                    {{localize "SR5.Add"}}&nbsp;<i class="fas fa-plus"></i>
                </a>
            {{/if}}
        {{/if}}
    </div>
</div>
