<div class="new-list-item-container {{cssClass}}">
    <div class="new-list-item {{skillClass skill}}">
        <div class="new-list-item-label-container">
            <label>
                {{#if skill.link}}
                <a data-action="openSkillSource"
                   data-skill="{{id}}"
                   data-tooltip="SR5.OpenSource">
                    <i class="fas fa-file"></i>
                </a>
                {{/if}}
                <a data-action="showItemDescription" data-skill="{{id}}">{{localizeSkill skill}}</a>
            </label>
        </div>
        {{#if @root.isPlayMode}}
        <div class="new-list-item-col">
            <a data-action="rollSkillSpecialization" data-skill="{{id}}">{{skillSpecializations skill}}</a>
        </div>
        {{/if}}
        <div class="new-list-item-col skill-rating-col">
            {{#if @root.isEditMode}}
                {{!-- use the original method of setting data because skills are weird in data model, they'll be items eventually --}}
                <input type="number" name="{{concat skillPath '.base'}}" class="short" value="{{skill.base}}" data-skill="{{id}}" >
                <i style="font-size: 0.75rem" class="fas fa-plus"></i>
                <input type="number" name="{{concat skillPath '.temp'}}" class="short" value="{{skill.temp}}" data-skill="{{id}}" >
            {{else}}
                <button type="button" class="skill-roll-value" data-action="rollSkill" data-skill="{{id}}">
                    {{skill.value}}
                </button>
            {{/if}}
        </div>
        {{#if @root.isEditMode}}
        <div class="new-list-item-icons">
            <a data-action="{{editAction}}"
               data-skill="{{id}}"
               data-category="{{editCategory}}"
               data-tooltip="SR5.Edit">
                <i class="fas fa-pen-to-square"></i>
            </a>
            <a data-action="{{removeAction}}"
               data-skill="{{id}}"
               data-category="{{removeCategory}}"
               data-tooltip="SR5.DeleteSkill">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        {{/if}}
    </div>
    <div class="new-list-item-description">
        <div class="new-list-item">
            <div class="new-list-item-col">
                <span>{{skill.group}}</span>
            </div>
        </div>
    </div>
</div>
