{{#if test.hasTargets}}
    <div class="form-group">
        <label>{{localize 'SR5.Target'}}</label>
        <select name="test.data.targetRangesSelected">
            {{#select test.data.targetRangesSelected}}
            {{#each test.data.targetRanges as |target|}}
            <option value="{{@index}}">{{target.name}} ({{target.distance}} {{target.unit}})</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
{{/if}}
{{#> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"
    label=(localize 'SR5.Range')
    rowClass='range-choice-row'
    groupClass='range-choice-group'
}}
    {{#each test.data.ranges as |range key|}}
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
            type='radio'
            name='test.data.range'
            value=range.modifier
            dtype='Number'
            checked=(eq ../test.data.range range.modifier)
            disabled=../test.hasTargets
            iconPath=(lookup @root.config.weaponRangeIcons key)
            tooltip=range.label
            cornerLabel=range.distance
            cornerSuffix='m'
        }}
    {{/each}}
{{/"systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"}}
