<div class="form-group icon-choice-row {{rowClass}}">
    <label>{{label}}</label>
    <div class="icon-choice-group {{groupClass}}" role="{{#if role}}{{role}}{{else}}radiogroup{{/if}}" aria-label="{{label}}">
        {{> @partial-block}}
    </div>
</div>