<div class="dialog-content-common">
    {{#if test.hasCode}}
    <hr/>
    <div class="common-test">
        {{test.code}}
        {{#if test.hitsIcon}}<img class="test-icon" src="{{test.hitsIcon.icon}}" data-tooltip="{{test.hitsIcon.tooltip}}" />{{/if}}
    </div>
    {{/if}}

    <hr/>
    <div>
        {{! --- Dice Pool --- }}
        {{> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-entry.hbs"
            path="test.data.pool"
            data=test.data.pool
            label="SR5.DicePool"
            tooltip="SR5.Tooltips.Test.Pool"
        }}
        {{! --- Limit --- }}
        {{> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-entry.hbs"
            path="test.data.limit"
            data=test.data.limit
            label="SR5.Limit"
            tooltip="SR5.Tooltips.Test.Limit"
        }}
        {{! --- Threshold --- }}
        {{> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-entry.hbs"
            path="test.data.threshold"
            data=test.data.threshold
            label="SR5.Threshold"
            tooltip="SR5.Tooltips.Test.Threshold"
        }}
    </div>

    {{#if test.allowManualHits}}
    <hr/>
    <div class="manual-override-section {{#if (includes expandedPaths 'manual')}}expanded{{/if}}" data-section="manual-override">
        <div class="manual-header">
            <label class="manual-title">{{localize "SR5.ManualOverride"}}</label>
            <a class="toggle-manual-override" title="{{localize 'SR5.ToggleSection'}}">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>

        <div class="manual-content">
            <div class="manual-row">
                <div class="form-group manual-entry">
                    <label data-tooltip="SR5.Tooltips.Test.ManualHits">{{localize "SR5.ManualHits"}}</label>
                    <input type='number' name='test.data.manualHits' ... />
                </div>
                <div class="form-group manual-entry">
                    <label data-tooltip="SR5.Tooltips.Test.ManualGlitches">{{localize "SR5.ManualGlitches"}}</label>
                    <input type='number' name='test.data.manualGlitches' ... />
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if test.actor}}
    <hr/>
    <div>
        <div class="form-group">
            <label data-tooltip="SR5.Tooltips.Test.PushTheLimit">{{localize "SR5.PushTheLimit"}}
                ({{test.actor.system.attributes.edge.uses}}/{{test.actor.system.attributes.edge.value}})</label>
            <input type="checkbox" name="test.data.pushTheLimit" {{#if test.hasPushTheLimit}}checked{{/if}}/>
        </div>
    </div>
    {{/if}}

    <hr/>
    <div>
        {{#if test.canBeExtended}}
        <div class="form-group">
            <label data-tooltip="SR5.Tooltips.Test.Extended">{{localize "SR5.Extended"}}</label>
            <input type="checkbox" name="test.data.extended" {{#if test.extended}}checked{{/if}} />
        </div>
        {{/if}}
        <div class="form-group">
            <label data-tooltip="SR5.Tooltips.Test.RollMode">{{ localize "SR5.RollMode" }}</label>
            <select style="color: white" name="test.data.options.rollMode">
                {{#select rollMode}} {{#each rollModes}}
                <option value="{{@key}}">{{localize this.label}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
</div>