<div class="dialog-content-common">
    {{#if test.hasCode}}
    <hr/>
    <div class="common-test">
        {{test.code}}
        {{#if test.hitsIcon}}<img class="test-icon" src="{{test.hitsIcon.icon}}" data-tooltip="{{test.hitsIcon.tooltip}}" />{{/if}}
    </div>
    {{/if}}

    <hr/>
    <div>
        {{! --- Dice Pool --- }}
        {{> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-entry.hbs"
            path="test.data.pool"
            data=test.data.pool
            label="SR5.DicePool"
            tooltip="SR5.Tooltips.Test.Pool"
        }}
        {{! --- Limit --- }}
        {{> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-entry.hbs"
            path="test.data.limit"
            data=test.data.limit
            label="SR5.Limit"
            tooltip="SR5.Tooltips.Test.Limit"
        }}
        {{! --- Threshold --- }}
        {{> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-entry.hbs"
            path="test.data.threshold"
            data=test.data.threshold
            label="SR5.Threshold"
            tooltip="SR5.Tooltips.Test.Threshold"
        }}
    </div>

    {{#if test.allowResultOverride}}
    <hr/>
    <div class="result-override-section {{#if (includes expandedPaths 'result-override')}}expanded{{/if}}" data-section="result-override">
        <div class="result-header">
            <label class="result-title">{{localize "SR5.ResultOverride"}}</label>
            <a class="toggle-result-override" title="{{localize 'SR5.ToggleSection'}}">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>

        <div class="result-content">
            <div class="result-row">
                <div class="form-group result-entry">
                    <label data-tooltip="SR5.Tooltips.Test.ResultOverrideHits">{{localize "SR5.ResultOverrideHits"}}</label>
                    <input type="number" name='test.data.resultOverrideHits' {{#if test.data.resultOverrideHits.changes.length}}value="{{test.data.resultOverrideHits.value}}"{{/if}} size="3" maxlength="3" data-dtype="Number" />
                </div>
                <div class="form-group result-entry">
                    <label data-tooltip="SR5.Tooltips.Test.ResultOverrideGlitches">{{localize "SR5.ResultOverrideGlitches"}}</label>
                    <input type="number" name='test.data.resultOverrideGlitches' {{#if test.data.resultOverrideGlitches.changes.length}}value="{{test.data.resultOverrideGlitches.value}}"{{/if}} size="3" maxlength="3" data-dtype="Number" />
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <hr/>
    <div class="modify-roll-section {{#if (includes expandedPaths 'modify-roll')}}expanded{{/if}}" data-section="modify-roll">
        <div class="modify-roll-header">
            <label class="modify-roll-title">{{localize "SR5.ModifyRoll"}}</label>
            <a class="toggle-modify-roll" title="{{localize 'SR5.ToggleSection'}}">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>

        <div class="modify-roll-content">
            <div class="form-group toggle-checkbox-row">
                <label data-tooltip="SR5.Tooltips.Test.BuyHits">{{localize "SR5.BuyHits"}}</label>
                <input type="checkbox" name="test.data.buyHits" {{#if test.hasBuyHits}}checked{{/if}} />
            </div>

            {{#if test.actor}}
            <div class="form-group toggle-checkbox-row">
                <label data-tooltip="SR5.Tooltips.Test.PushTheLimit">{{localize "SR5.PushTheLimit"}}
                    ({{test.actor.system.attributes.edge.uses}}/{{test.actor.system.attributes.edge.value}})</label>
                <input type="checkbox" name="test.data.pushTheLimit" {{#if test.hasPushTheLimit}}checked{{/if}}/>
            </div>
            {{/if}}

            {{#if test.canBeExtended}}
            <div class="form-group toggle-checkbox-row">
                <label data-tooltip="SR5.Tooltips.Test.Extended">{{localize "SR5.Extended"}}</label>
                <input type="checkbox" name="test.data.extended" {{#if test.extended}}checked{{/if}} />
            </div>
            {{/if}}

            <div class="form-group">
                <label data-tooltip="SR5.Tooltips.Test.RollMode">{{ localize "SR5.RollMode" }}</label>
                <select style="color: white" name="test.data.options.rollMode">
                    {{#select rollMode}} {{#each rollModes}}
                    <option value="{{@key}}">{{localize this.label}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>
        </div>
    </div>
</div>