<section class="tab changes{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <header>
        <div class="key">{{localize "EFFECT.ChangeKey"}}</div>
        {{#ifne source.system.applyTo "modifier"}}
        <div class="mode">{{localize "EFFECT.FIELDS.changes.element.type.label"}}</div>
        <div class="value">{{localize "EFFECT.ChangeValue"}}</div>
        <div class="priority">{{localize "EFFECT.ChangePriority"}}</div>
        {{/ifne}}
        <div class="controls"><a data-action="addChange"><i class="fa-regular fa-square-plus"></i></a></div>
    </header>
    <ol class="scrollable" data-changes>
        {{#each source.system.changes as |change i|}}
            {{#with @root.systemFields.changes.element.fields as |changeFields|}}
                <li data-index="{{i}}">
                    <div class="key autocomplete-key-{{@root.source.system.applyTo}}">
                        {{formInput changeFields.key name=(concat "system.changes." i ".key") value=change.key}}
                    </div>
                    {{#ifne @root.source.system.applyTo "modifier"}}
                    <div class="mode">
                        {{formInput changeFields.type name=(concat "system.changes." i ".type") value=change.type choices=@root.changeTypes}}
                    </div>
                    <div class="value autocomplete-value-{{@root.source.system.applyTo}}">
                        <input type="text" name="system.changes.{{i}}.value" value="{{change.value}}" />
                    </div>
                    <div class="priority">
                        {{formInput changeFields.priority name=(concat "system.changes." i ".priority") value=change.priority
                                    placeholder=(lookup @root.changeTypePriorities change.type) disabled=true}}
                    </div>
                    <input type="hidden" name="system.changes.{{i}}.phase" value="{{change.phase}}" />
                    {{else}}
                    <input type="hidden" name="system.changes.{{i}}.type" value="{{change.type}}" />
                    <input type="hidden" name="system.changes.{{i}}.value" value="{{change.value}}" />
                    <input type="hidden" name="system.changes.{{i}}.phase" value="{{change.phase}}" />
                    {{/ifne}}
                    <div class="controls"><a data-action="deleteChange"><i class="fa-solid fa-trash"></i></a></div>
                </li>
            {{/with}}
        {{/each}}
    </ol>
</section>
