<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
<div class="form-group">
    <label data-tooltip="{{localize 'SR5.Tooltips.Effect.ApplyTo'}}">{{ localize "SR5.ActiveEffect.ApplyTo" }}</label>
    <div class="form-fields">
        <select data-action="applyToSelect" name="system.applyTo"
            {{#if hasChanges}}disabled{{/if}}
            {{#if hasChanges}}data-tooltip="{{localize 'SR5.Tooltips.Effect.AlterApplyToWithChanges'}}"{{/if}}
        >
            {{selectOptions applyToOptions selected=applyTo localize=true}}
        </select>
    </div>
</div>

{{#ife applyTo "test_all"}}
    <div class="form-group">
        <label data-tooltip="{{localize 'SR5.Tooltips.Effect.OnlyFilteredUsed'}}">{{ localize "SR5.ActiveEffect.Test.Tests" }}</label>
        <div class="form-fields">
            <input name="system.selection_tests" id="test-selection" class="tagify-selection">
        </div>
    </div>
    <div class="form-group">
        <label data-tooltip="{{localize 'SR5.Tooltips.Effect.OnlyFilteredUsed'}}">{{ localize "SR5.ActiveEffect.Test.ActionCategories" }}</label>
        <div class="form-fields">
            <input name="system.selection_categories" id="categories-selection" class="tagify-selection">
        </div>
    </div>
    <div class="form-group">
        <label  data-tooltip="{{localize 'SR5.Tooltips.Effect.OnlyFilteredUsed'}}">{{ localize "SR5.ActiveEffect.Test.Skills" }}</label>
        <div class="form-fields">
            <input name="system.selection_skills" id="skill-selection" class="tagify-selection">
        </div>
    </div>
    <div class="form-group">
        <label data-tooltip="{{localize 'SR5.Tooltips.Effect.OnlyAllFilteredUsed'}}">{{ localize "SR5.ActiveEffect.Test.Attributes" }}</label>
        <div class="form-fields">
            <input name="system.selection_attributes" id="attribute-selection" class="tagify-selection">
        </div>
    </div>
    <div class="form-group">
        <label data-tooltip="{{localize 'SR5.Tooltips.Effect.OnlyFilteredUsed'}}">{{ localize "SR5.ActiveEffect.Test.Limits" }}</label>
        <div class="form-fields">
            <input name="system.selection_limits" id="limit-selection" class="tagify-selection">
        </div>
    </div>
{{/ife}}

{{#ife applyTo "modifier"}}
    <div class="form-group">
        <label data-tooltip="{{localize 'SR5.Tooltips.Effect.OnlyForItemTest'}}">{{ localize "SR5.ActiveEffect.OnlyForItemTest" }}</label>
        <div class="form-fields">
            <input type="checkbox" name="system.onlyForItemTest" {{checked onlyForItemTest}}/>
        </div>
    </div>
{{/ife}}
</section>
