{{#each packs as |entry|}}
    <div class="form-group">
        <label for="{{@root.rootId}}-{{entry.id}}">{{localize entry.label}}</label>
        <div class="form-fields">
            <select id="{{@root.rootId}}-{{entry.id}}" name="{{entry.name}}">
                {{selectOptions entry.choices selected=entry.value localize=true sort=true}}
            </select>
        </div>
    </div>
{{/each}}
