<label>{{localizeOb item.system.type @root.config.lifestyleTypes}}</label>
<label><i data-tooltip="{{localize "SR5.Cost"}}" class="fas fa-yen-sign"></i>&nbsp;{{nuyenValue item.system.cost}}</label>
<label><i data-tooltip="{{localize "SR5.LifestyleNeighborhood"}}" class="fas fa-buildings"></i>&nbsp;{{item.system.neighborhood}}</label>
<label><i data-tooltip="{{localize "SR5.LifestyleComforts"}}" class="far fa-mattress-pillow"></i>&nbsp;{{item.system.comforts}}</label>
<label><i data-tooltip="{{localize "SR5.LifestyleSecurity"}}" class="far fa-shield-halved"></i>&nbsp;{{item.system.security}}</label>
<label><i data-tooltip="{{localize "SR5.LifestyleGuests"}}" class="far fa-people"></i>&nbsp;{{item.system.guests}}</label>
