{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        <div class="new-list-item-label-container">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
            <label class="{{#if (isFreshImport item)}} {{#if (itemMarking "COLOR")}}fresh-import{{/if}} {{/if}}">
                {{!-- allow overriding the name if provided --}}
                <a data-action="showItemDescription" data-item-id="{{item.uuid}}">
                    {{#if name}}
                        {{name}}
                    {{else}}
                        {{item.name}}
                    {{/if}}
                </a>
            </label>
        </div>

        <div class="new-list-item-col">
           <span>
               {{localizeOb item.system.type config.adeptPowers.types}}
           </span>
        </div>

        <div class="new-list-item-icons">
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
