{{!-- 
    This partial is intended to display the shadowrun damage monitor / track in the classic box style:
    A track of max 4 is supposed to render
    Stun [  ] [  ] [  ] [  ]

    A track of max 4 with a value of 2 is supposed to render
    Stun [XX] [XX] [  ] [  ]

    If a 'tolernace' is provided, the track should show wound modifiers for each tolerance increment:
    Stun [XX] [XX] [XX(-1)] [  ] # tolerance 3

    If a 'toleranceBase' is provided the wound modifier should shift upwards
    Stun [XX] [XX] [XX] [-1]     # tolernace 3, toleranceBase 1    
--}}
{{#if (not disabled)}}
<div class="horizontal-cell-input {{id}}" data-id="{{id}}">
    <div class="icon-container">
        <a data-tooltip="{{tooltip}}" data-action="rollConditionMonitor">
            {{#if (eq id 'physical')}}
                <i class="fas fa-heart-pulse"></i>
            {{else if (eq id 'stun')}}
                <i class="fas fa-kit-medical"></i>
            {{else if (eq id 'overflow')}}
                <i class="fas fa-droplet"></i>
            {{else if (eq id 'matrix')}}
                <i class="fas fa-heart-circle-bolt"></i>
            {{else if (eq id 'edge')}}
                <i class="fas fa-star-christmas"></i>
            {{else}}
                <i class="fas fa-square-question"></i>
            {{/if}}
        </a>
    </div>
    <div class="clear-container">
        <a data-tooltip="{{localize tooltip}}:&nbsp;0/{{max}}"
           data-action="clearConditionMonitor"
           data-id="{{id}}">
            <i class="fas fa-ban"></i>
        </a>
    </div>
    <div class="cell-container">
        {{#for 1 (sum max 1)}}
            <div class="cell {{#iflte this ../value}}filled{{/iflte}}"
                 data-action="modifyConditionMonitor"
                 data-id="{{../id}}"
                 data-tooltip="{{localize ../tooltip}}:&nbsp;{{this}}/{{../max}}"
                 data-value="{{this}}">
                {{#if (isDefined ../tolerance)}}
                    {{#if (showWoundModifier this ../toleranceBase ../tolerance)}}
                        <div id="woundModifierCell{{woundModifier this ../toleranceBase ../tolerance}}">
                            {{woundModifier this ../toleranceBase ../tolerance}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        {{/for}}
    </div>
</div>
{{/if}}
{{#ife track.max 0}}
{{localize "SR5.Labels.ActorSheet.SetMonitor"}}
{{/ife}}
