<footer class="sheet-footer">
    <div class="new-list-item">
        {{!-- Show Quantity First --}}
        {{#if system.technology}}
            <span>
                <label>{{localize "SR5.Qty"}}&nbsp;</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.technology.fields.quantity value=system.technology.quantity
                                classes="short midd" rootId=rootId}}
                {{else}}
                    <a data-action="removeOneQty"
                       data-tooltip="SR5.ItemSheet.Labels.RemoveOneQty">
                    <i class="fas fa-minus-square"></i>
                </a>
                <label>{{system.technology.quantity}}</label>
                <a data-action="addOneQty"
                   data-tooltip="SR5.ItemSheet.Labels.AddOneQty">
                    <i class="fas fa-plus-square"></i>
                </a>
                {{/if}}
            </span>
        {{/if}}

        {{#if (or (eq item.type 'bioware') (eq item.type 'cyberware'))}}
            {{#if system.grade}}
                <label>{{localizeOb system.grade config.cyberwareGrades}}</label>
            {{/if}}
            {{#if system.technology.calculated.essence.value}}
                <label data-tooltip="SR5.EssenceCost"><i class="fas fa-dna"></i> {{system.technology.calculated.essence.value}}</label>
            {{/if}}
        {{/if}}

        {{#if system.technology}}
            {{#if system.technology.rating}}
                <label>{{localize "SR5.Rtg"}}&nbsp;
                    {{#if @root.isEditMode}}
                        {{formInput systemFields.technology.fields.rating value=system.technology.rating
                                    classes="short skinny" rootId=rootId}}
                    {{else}}
                        {{system.technology.rating}}
                    {{/if}}
                </label>
            {{/if}}
            {{#if system.technology.calculated.availability.value}}
                <label>{{localize "SR5.Availability"}}&nbsp;
                    {{#if @root.isEditMode}}
                        {{formInput systemFields.technology.fields.availability value=system.technology.availability
                                    classes="short thicc" rootId=rootId}}
                    {{else}}
                        {{system.technology.calculated.availability.value}}
                    {{/if}}
                </label>
            {{/if}}
            {{#if system.technology.calculated.cost.value}}
                <label data-tooltip="{{systemFields.technology.fields.cost.label}}"><i class="fas fa-yen-sign"></i>&nbsp;
                    {{#if @root.isEditMode}}
                        {{formInput systemFields.technology.fields.cost value=system.technology.cost
                                    classes="short midd" rootId=rootId}}
                    {{else}}
                        {{system.technology.calculated.cost.value}}
                    {{/if}}
                </label>
            {{/if}}
            {{#if system.technology.conceal.value}}
                <label data-tooltip="{{systemFields.technology.fields.conceal.fields.value.label}}"><i class="fas fa-user-ninja"></i>&nbsp;{{system.technology.conceal.value}}</label>
            {{/if}}
        {{/if}}

        {{#if (eq item.type 'contact')}}
            <label>{{system.type}}</label>
            <label>{{systemFields.loyalty.label}}&nbsp;{{system.loyalty}}</label>
            <label>{{systemFields.connection.label}}&nbsp;{{system.connection}}</label>
            {{#if system.family}}
                <label>{{systemFields.family.label}}</label>
            {{/if}}
            {{#if system.blackmail}}
                <label>{{systemFields.blackmail.label}}</label>
            {{/if}}
            {{#if system.blackmail}}
                <label>{{systemFields.group.label}}</label>
            {{/if}}
        {{/if}}

        {{#if (eq item.type 'lifestyle')}}
            <label>{{system.type}}</label>
            <label><i data-tooltip="{{systemFields.cost.label}}" class="fas fa-yen-sign"></i> {{system.cost}}</label>
            <label><i data-tooltip="{{systemFields.neighborhood.label}}" class="fas fa-buildings"></i> {{system.neighborhood}}</label>
            <label><i data-tooltip="{{systemFields.comforts.label}}" class="far fa-mattress-pillow"></i> {{system.comforts}}</label>
            <label><i data-tooltip="{{systemFields.security.label}}" class="far fa-shield-halved"></i> {{system.security}}</label>
            <label><i data-tooltip="{{systemFields.guests.label}}" class="far fa-people"></i> {{system.guests}}</label>
        {{/if}}

        {{#if (eq item.type 'quality')}}
            <label>{{system.type}}</label>
            <label>{{systemFields.rating.label}} {{system.rating}}</label>
            <label>{{systemFields.karma.label}} {{system.karma}}</label>
        {{/if}}
        <div></div>
    </div>
</footer>
