<footer class="sheet-footer item-footer">
    <div class="item-footer-tags">
        {{#if (isType item 'action')}}
            {{#if (isMatrixAction item)}}
                <label>{{localize "SR5.Labels.Action.MatrixAction"}}</label>
                {{#if system.action.category.matrix.marks}}
                    <label>{{localize "SR5.Marks"}}&nbsp;{{system.action.category.matrix.marks}}</label>
                {{/if}}
                {{#if system.action.category.matrix.owner}}
                    <label>{{localize "SR5.Owner"}}</label>
                {{/if}}
            {{else}}
                {{> "systems/shadowrun5e/dist/templates/v2/item-properties/action.hbs" item=item }}
            {{/if}}
        {{else if (isType item 'skill')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item/footer/skill.hbs" item=item }}
        {{else if (isType item 'call_in_action')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/call_in_action.hbs" item=item }}
        {{else if (eq item.type 'contact')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/contact.hbs" item=item }}
        {{else if (isType item 'complex_form')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/complex_form.hbs" item=item }}
        {{else if (eq item.type 'critter_power')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/critter_power.hbs" item=item }}
        {{else if (eq item.type 'lifestyle')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/lifestyle.hbs" item=item }}
        {{else if (eq item.type 'quality')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/quality.hbs" item=item }}
        {{else if (eq item.type 'ritual')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/ritual.hbs" item=item }}
        {{else if (eq item.type 'spell')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/spell.hbs" item=item }}
        {{else if (isType item 'sprite_power')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/sprite_power.hbs" item=item }}
        {{else if (isType item 'program')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/program.hbs" item=item }}
        {{else if (isType item 'device')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/device.hbs" item=item }}
        {{else if (isType item 'sin')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/sin.hbs" item=item }}
        {{else if (isType item 'ammo')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/ammo.hbs" item=item }}
        {{else if (isType item 'armor')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/armor.hbs" item=item }}
        {{else if (isType item 'adept_power')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/adept_power.hbs" item=item }}
        {{/if}}

        {{#if (eq item.type 'grid')}}
            {{#unless (empty system.category)}}
                <label data-tooltip="{{systemFields.category.hint}}">{{localizeOb system.category @root.config.gridCategories}}</label>
            {{/unless}}
            <label>
                {{#if system.matrix.visible}}
                    {{localize "SR5.Labels.Sheet.Visible"}}
                {{else}}
                    {{localize "SR5.Labels.Sheet.NotVisible"}}
                {{/if}}
            </label>
        {{/if}}

        {{#if (eq item.type 'host')}}
            {{#if system.rating}}
                <label>{{localize "SR5.Rating"}}&nbsp;{{system.rating}}</label>
            {{/if}}
            {{#each system.atts as |att|}}
                {{#if att.value}}
                    <label>{{localize (lookup @root.config.matrixAttributes att.att)}}&nbsp;{{att.value}}</label>
                {{/if}}
            {{/each}}
            <label>
                {{#if system.matrix.visible}}
                    {{localize "SR5.Labels.Sheet.Visible"}}
                {{else}}
                    {{localize "SR5.Labels.Sheet.NotVisible"}}
                {{/if}}
            </label>
        {{/if}}

        {{#if (eq item.type 'modification')}}
            {{#if system.type}}
                {{#unless (empty system.type)}}
                <label data-tooltip="{{systemFields.type.hint}}">{{localizeOb system.type @root.config.modificationTypes}}&nbsp;{{localize "SR5.Weapon.Mod"}}</label>
                {{/unless}}
            {{/if}}
        {{/if}}

        {{#if (eq item.type 'weapon')}}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/action.hbs" item=item }}
            {{> "systems/shadowrun5e/dist/templates/v2/item-properties/weapon.hbs" item=item }}
        {{/if}}

        {{#unless isLimited}}
            {{#if system.technology}}
                {{> "systems/shadowrun5e/dist/templates/v2/item-properties/technology.hbs" item=item }}
                {{#if (isType item 'bioware' 'cyberware')}}
                    {{#if system.grade}}
                        {{#unless (empty system.grade)}}
                        <label>{{localizeOb system.grade @root.config.cyberwareGrades}}</label>
                        {{/unless}}
                    {{/if}}
                    {{> "systems/shadowrun5e/dist/templates/v2/item-properties/essence.hbs" item=item }}
                {{/if}}
                {{#if (isEquipped item)}}
                    <label>{{localize "SR5.Equipped"}}</label>
                {{/if}}
                {{#if (canBeWireless item)}}
                    <label data-tooltip="SR5.Wireless">
                        {{#if (isBroken item)}}
                            <i class="fas fa-link-slash"></i>
                        {{else if (isRunningSilent item)}}
                            <i class="fa-duotone fa-wifi-fair"></i>
                        {{else if (isWireless item)}}
                            <i class="fas fa-wifi"></i>
                        {{else}}
                            <i class="fas fa-wifi-slash"></i>
                        {{/if}}
                    </label>
                {{/if}}
            {{/if}}

            {{#if systemFields.capacity}}
                <label data-tooltip="{{systemFields.capacity.label}}">
                    <i class="fas fa-toolbox"></i>&nbsp;{{system.capacity.used}} / {{system.capacity.total}}
                </label>
            {{/if}}
        {{/unless}}
    </div>
</footer>
