<div>
    <div class="sheet-header">
        <img class="sheet-image" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img" />
        <div class="sheet-header-labels">
            <div class="sheet-header-name">
                {{#unless isLimited}}
                    {{> 'systems/shadowrun5e/dist/templates/v2/common/document-source-icon.hbs' system.description.source }}
                    {{#if (and system.importFlags.isFreshImport (itemMarking "ANY"))}}
                        {{#if @root.isEditMode}}
                            <button type="button" class="toggle-fresh-import" data-action="toggleFreshImport" data-tooltip="SR5.MarkImportedItemTooltip">
                                <img src="systems/shadowrun5e/dist/icons/checklist-white.svg" width="32px" height="32px" />
                            </button>
                        {{else}}
                            <label style="width: 1.5rem; flex-shrink: 0;" data-tooltip="SR5.MarkImportedItemTooltip">
                                <img src="systems/shadowrun5e/dist/icons/checklist.svg" width="32px" height="32px" />
                            </label>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                <span style="width: 100%">
                    {{formInput fields.name value=item.name classes="sheet-name"
                                placeholder=(localize "SR5.Name") disabled=@root.isPlayMode rootId=rootId}}
                </span>
                <div class="item-type-container">
                    <label>{{localize (concat 'TYPES.Item.' item.type)}}</label>
                </div>
            </div>
            {{#if @root.isEditMode}}
                <div class="sheet-header-source">
                    {{formInput systemFields.description.fields.source value=source.system.description.source
                                classes="short" placeholder=(localize "SR5.Source") rootId=rootId}}
                </div>
            {{/if}}
            {{#unless isLimited}}
                {{#if (and @root.isPlayMode system.technology.condition_monitor.max)}}
                    <div>
                        <div class="list-item">
                            <div class="list-item-start">
                                {{> 'systems/shadowrun5e/dist/templates/v2/common/horizontal-cells.hbs'
                                    tooltip=(localize "SR5.Labels.ActorSheet.Matrix")
                                    value=system.technology.condition_monitor.value
                                    max=system.technology.condition_monitor.max
                                    id='matrix'
                                    disabled=system.technology.condition_monitor.disabled }}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/unless}}
        </div>

    </div>
    {{!-- TODO go through this and allow fields that could be shown on a limited item --}}
    {{#unless isLimited}}
    <div class="list-item list-item-header">
        {{#if (eq item.type 'spell')}}
            <div class="list-item-col">
                <label data-tooltip="{{systemFields.type.hint}}">{{localize "SR5.Spell.Type"}}:</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.type value=source.system.type localize=true
                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                {{else}}
                    <label>{{localizeOb system.type @root.config.spellTypes}}</label>
                {{/if}}
            </div>

            <div class="list-item-col">
                <label data-tooltip="{{systemFields.duration.hint}}">{{localize "SR5.Duration"}}:</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.duration value=source.system.duration localize=true
                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                {{else}}
                    <label>{{localizeOb system.duration @root.config.durations}}</label>
                {{/if}}
            </div>
            <div class="list-item-col">
                <label data-tooltip="{{systemFields.range.hint}}">{{localize "SR5.Range"}}:</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.range value=source.system.range localize=true
                                classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                {{else}}
                    <label>{{localizeOb system.range @root.config.spellRanges}}</label>
                {{/if}}
            </div>

            <div class="list-item-col">
                <label>{{localize "SR5.Drain"}}:</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.drain value=source.system.drain
                                classes="short skinny" rootId=@root.rootId disabled=@root.isPlayMode}}
                {{else}}
                    <label>{{localize "SR5.Force"}}{{#if system.drain}}{{numberFormat system.drain sign=true}}{{/if}}</label>
                {{/if}}
            </div>
        {{else}}
            <div class="list-item-start">
                {{#if (eq item.type 'contact')}}
                    {{#if linkedActor}}
                        <span class="basic-row">
                            <img src="{{linkedActor.img}}" width="16px" height="16px" />
                            <a class="content-link"
                               draggable="true"
                               data-link
                               data-type="Actor"
                               data-id="{{linkedActor.id}}"
                               data-uuid="{{linkedActor.uuid}}">
                                {{linkedActor.name}}
                            </a>
                            <a data-action="removeLinkedActor" class="close"><i class="fas fa-times"></i></a>
                        </span>
                    {{else}}
                        <label>{{localize "SR5.Tooltips.Contact.LinkActor"}}</label>
                    {{/if}}
                {{/if}}
                {{#if systemFields.technology}}
                    {{#unless (eq system.technology.wireless 'none')}}
                        {{#if master}}
                            <span class="basic-row">
                                <img src="{{master.img}}" width="16px" height="16px" />
                                <a class="content-link"
                                   draggable="true"
                                   data-link
                                   data-type="Actor"
                                   data-id="{{master.id}}"
                                   data-uuid="{{master.uuid}}">
                                    {{master.name}}
                                </a>
                                <a data-action="removeMaster" class="close"><i class="fas fa-times"></i></a>
                            </span>
                        {{else}}
                            <label>{{localize "SR5.Labels.Sheet.MissingNetworkDevices"}}</label>
                        {{/if}}
                    {{/unless}}
                {{/if}}
            </div>
            <div class="list-item-icons">
                {{#if (eq item.type 'critter_power')}}
                    <label data-tooltip="{{systemFields.optional.hint}}">{{systemFields.optional.label}}</label>
                    <span>
                        {{formInput systemFields.optional value=system.optional localize=true
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </span>
                {{/if}}
                {{#if systemFields.technology}}
                    <a data-tooltip="SR5.Equipped" data-action="toggleEquipped">
                        {{localize "SR5.Equipped"}}
                        <i class="{{#if (isEquipped item)}}fas fa-circle-check{{else}}far fa-circle{{/if}}"></i>
                    </a>
                    {{#if @root.isEditMode}}
                        <span data-tooltip="SR5.Wireless">
                            {{formInput systemFields.technology.fields.wireless value=source.system.technology.wireless
                                        classes="short" localize=true rootId=@root.rootId disabled=@root.isPlayMode}}
                        </span>
                    {{else if (canBeWireless item)}}
                        {{#if (isBroken item)}}
                            <a data-tooltip="SR5.Broken" data-action="repair">
                                <i class="fas fa-link-slash"></i>
                            </a>
                        {{else}}
                            <a data-action="toggleWireless">
                                <i {{#if (isRunningSilent item)}}
                                class="fa-duotone fa-wifi-fair"
                                {{else if (isWireless item)}}
                                class="fas fa-wifi"
                                {{else}}
                                class="fas fa-wifi-slash"
                                {{/if}}
                                ></i>
                            </a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    </div>
    {{/unless}}
</div>
