<div>
    <div class="sheet-header">
        <img class="sheet-image" src="{{item.img}}" data-tooltip="{{#if @root.isEditMode}}{{item.img}}{{else}}{{item.name}}{{/if}}"
             {{#if @root.isEditMode}}
                 data-edit="img"
                 data-action="editImage"
             {{/if}}
        />
        <div class="sheet-header-labels">
            <div class="sheet-header-name">
                {{#unless isLimited}}
                    {{> 'systems/shadowrun5e/dist/templates/v2/common/document-source-icon.hbs' system.description.source }}
                    {{#if (and system.importFlags.isFreshImport (itemMarking "ANY"))}}
                        {{#if @root.isEditMode}}
                            <button type="button" class="toggle-fresh-import" data-action="toggleFreshImport" data-tooltip="SR5.MarkImportedItemTooltip">
                                <img src="systems/shadowrun5e/dist/icons/checklist-white.svg" width="32px" height="32px" />
                            </button>
                        {{else}}
                            <label class="toggle-fresh-import" data-tooltip="SR5.MarkImportedItemTooltip">
                                <img src="systems/shadowrun5e/dist/icons/checklist-white.svg" width="32px" height="32px" />
                            </label>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                <span class="sheet-header-name-input">
                    {{formInput fields.name value=item.name classes="sheet-name"
                                placeholder=(localize "SR5.Name") disabled=@root.isPlayMode rootId=rootId}}
                </span>
                <div class="item-type-container">
                    <label>{{localize (concat 'TYPES.Item.' item.type)}}</label>
                </div>
            </div>
            {{#if @root.isEditMode}}
                <div class="sheet-header-source">
                    {{formInput systemFields.description.fields.source value=source.system.description.source
                                classes="short" placeholder=(localize "SR5.Source") rootId=rootId}}
                </div>
            {{/if}}
            {{#unless isLimited}}
                {{#if (and @root.isPlayMode system.technology.condition_monitor.max)}}
                    <div>
                        <div class="list-item">
                            <div class="list-item-start">
                                {{> 'systems/shadowrun5e/dist/templates/v2/common/horizontal-cells.hbs'
                                    tooltip=(localize "SR5.Labels.ActorSheet.Matrix")
                                    value=system.technology.condition_monitor.value
                                    max=system.technology.condition_monitor.max
                                    id='matrix'
                                    disabled=system.technology.condition_monitor.disabled }}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/unless}}
        </div>

        {{#unless isLimited}}
            {{#if (or systemFields.technology (eq item.type 'lifestyle'))}}
                <div class="sheet-header-col item-header-meta">
                    {{#if systemFields.technology}}
                        {{#unless (isType item 'sin')}}
                            <div class="sheet-header-resource-container">
                                <div class="list-item sheet-header-resource">
                                    <div class="list-item-start sheet-header-resource-label">
                                        <label>{{localize "SR5.Quantity"}}</label>
                                    </div>
                                    <div class="list-item-col sheet-header-resource-value qty-input-col hover-show-button-container">
                                        {{#if @root.isPlayMode}}
                                            {{#if isEditable}}
                                                <a class="hover-show-button"
                                                   data-action="removeOneQty"
                                                   data-tooltip="{{localize 'SR5.Tooltips.Item.RemoveQuantity'
                                                                            qtySome=@root.bindings.qtySome qtyMany=@root.bindings.qtyMany}}">
                                                    <i class="fas fa-minus-square"></i>
                                                </a>
                                            {{/if}}
                                            <label class="sheet-header-service-value">{{system.technology.quantity}}</label>
                                            {{#if isEditable}}
                                                <a class="hover-show-button"
                                                   data-action="addOneQty"
                                                   data-tooltip="{{localize 'SR5.Tooltips.Item.AddQuantity'
                                                                            qtySome=@root.bindings.qtySome qtyMany=@root.bindings.qtyMany}}">
                                                    <i class="fas fa-plus-square"></i>
                                                </a>
                                            {{/if}}
                                        {{else}}
                                            {{formInput systemFields.technology.fields.quantity value=source.system.technology.quantity
                                                        classes="short midd" rootId=rootId disabled=@root.isPlayMode}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        {{/unless}}
                        <div class="sheet-header-resource-container">
                            <div class="list-item sheet-header-resource">
                                <div class="list-item-start sheet-header-resource-label">
                                    <label>{{localize "SR5.Availability"}}</label>
                                </div>
                                <div class="list-item-col sheet-header-resource-value">
                                    {{#if @root.isEditMode}}
                                        {{formInput systemFields.technology.fields.availability value=source.system.technology.availability
                                                    classes="short skinny" rootId=rootId disabled=@root.isPlayMode}}
                                    {{else if system.technology.calculated.availability.value}}
                                        <label class="sheet-header-service-value">{{system.technology.calculated.availability.value}}</label>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="sheet-header-resource-container">
                            <div class="list-item sheet-header-resource">
                                <div class="list-item-start sheet-header-resource-label">
                                    <label data-tooltip="{{systemFields.technology.fields.cost.label}}">
                                        {{localize "SR5.Cost"}}
                                    </label>
                                </div>
                                <div class="list-item-col sheet-header-resource-value">
                                    {{#if @root.isEditMode}}
                                        {{formInput systemFields.technology.fields.cost value=source.system.technology.cost
                                                    classes="short nuyen" rootId=rootId disabled=@root.isPlayMode}}
                                    {{else}}
                                        <label class="sheet-header-service-value">{{nuyenValue system.technology.calculated.cost.value}}</label>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{else if (eq item.type 'lifestyle')}}
                        <div class="sheet-header-resource-container">
                            <div class="list-item sheet-header-resource">
                                <div class="list-item-start sheet-header-resource-label">
                                    <label data-tooltip="{{systemFields.cost.label}}">
                                        {{localize "SR5.Cost"}}
                                    </label>
                                </div>
                                <div class="list-item-col sheet-header-resource-value">
                                    {{#if @root.isEditMode}}
                                        {{formInput systemFields.cost value=source.system.cost
                                                    classes="short nuyen" rootId=@root.rootId disabled=@root.isPlayMode}}
                                    {{else}}
                                        <label class="sheet-header-service-value">{{nuyenValue system.cost}}</label>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{/unless}}

    </div>
    {{!-- TODO go through this and allow fields that could be shown on a limited item --}}
    {{#unless isLimited}}
    {{#unless (eq item.type 'spell')}}
    <div class="list-item list-item-header">
            <div class="list-item-start">
                {{#if (isType item 'contact')}}
                    {{#if linkedActor}}
                        <span class="basic-row">
                            <img src="{{linkedActor.img}}" width="16px" height="16px" />
                            <a class="content-link"
                               draggable="true"
                               data-link
                               data-type="Actor"
                               data-id="{{linkedActor.id}}"
                               data-uuid="{{linkedActor.uuid}}">
                                {{linkedActor.name}}
                            </a>
                            <a data-action="removeLinkedActor" class="close"><i class="fas fa-times"></i></a>
                        </span>
                    {{else}}
                        <label>{{localize "SR5.Tooltips.Contact.LinkActor"}}</label>
                    {{/if}}
                {{else if (isType item 'call_in_action')}}
                    {{#if sprite}}
                        <span class="basic-row">
                            <img src="{{sprite.img}}" width="16px" height="16px" />
                            <a class="content-link"
                               draggable="true"
                               data-link
                               data-type="Actor"
                               data-id="{{sprite.id}}"
                               data-uuid="{{sprite.uuid}}">
                                {{sprite.name}}
                            </a>
                            <a data-action="removeSprite" class="close"><i class="fas fa-times"></i></a>
                        </span>
                    {{else if spirit}}
                        <span class="basic-row">
                            <img src="{{spirit.img}}" width="16px" height="16px" />
                            <a class="content-link"
                               draggable="true"
                               data-link
                               data-type="Actor"
                               data-id="{{spirit.id}}"
                               data-uuid="{{spirit.uuid}}">
                                {{spirit.name}}
                            </a>
                            <a data-action="removeSpirit" class="close"><i class="fas fa-times"></i></a>
                        </span>
                    {{else}}
                        <label>{{localize "SR5.Tooltips.CallInAction.LinkActor"}}</label>
                    {{/if}}
                {{/if}}
                {{#if systemFields.technology}}
                    {{#unless (eq system.technology.wireless 'none')}}
                        {{#if master}}
                            <span class="basic-row">
                                <img src="{{master.img}}" width="16px" height="16px" />
                                <a class="content-link"
                                   draggable="true"
                                   data-link
                                   data-type="Actor"
                                   data-id="{{master.id}}"
                                   data-uuid="{{master.uuid}}">
                                    {{master.name}}
                                </a>
                                <a data-action="removeMaster" class="close"><i class="fas fa-times"></i></a>
                            </span>
                        {{else}}
                            <label>{{localize "SR5.Labels.Sheet.MissingNetworkDevices"}}</label>
                        {{/if}}
                    {{/unless}}
                {{/if}}
            </div>
            <div class="list-item-icons">
                {{#if (isType item 'critter_power' 'sprite_power')}}
                    <label data-tooltip="{{systemFields.optional.hint}}">{{systemFields.optional.label}}</label>
                    <span>
                        {{formInput systemFields.optional value=source.system.optional localize=true
                                    classes="short" rootId=@root.rootId disabled=@root.isPlayMode}}
                    </span>
                {{/if}}
                {{#if systemFields.technology}}
                    <a data-tooltip="SR5.Equipped" data-action="toggleEquipped">
                        {{localize "SR5.Equipped"}}
                        <i class="{{#if (isEquipped item)}}fas fa-circle-check{{else}}far fa-circle{{/if}}"></i>
                    </a>
                    {{#if @root.isEditMode}}
                        <span data-tooltip="SR5.Wireless">
                            {{formInput systemFields.technology.fields.wireless value=source.system.technology.wireless
                                        classes="short" localize=true rootId=@root.rootId disabled=@root.isPlayMode}}
                        </span>
                    {{else if (canBeWireless item)}}
                        {{#if (isBroken item)}}
                            <a data-tooltip="SR5.Broken" data-action="repair">
                                <i class="fas fa-link-slash"></i>
                            </a>
                        {{else}}
                            <a data-action="toggleWireless">
                                <i {{#if (isRunningSilent item)}}
                                class="fa-duotone fa-wifi-fair"
                                {{else if (isWireless item)}}
                                class="fas fa-wifi"
                                {{else}}
                                class="fas fa-wifi-slash"
                                {{/if}}
                                ></i>
                            </a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
    </div>
    {{/unless}}
    {{/unless}}
</div>
