<div class="sr5 chat-card roll-card">
    <div class="cart-title card-header">
        {{localize "SR5.Labels.Message.FailedAttackAction"}}
    </div>
    <div class="card-title card-header">
        <div class="container container--fluid">
            <div class="container__row">
                <div class="container__col">
                    <div class="document">
                        <a class="chat-select-link" data-token-id="{{speaker.token.id}}"><img
                            src="{{speakerImg speaker.actor}}" class="entity-selectable"
                            title="{{speakerName speaker.actor}}" /></a>
                        <h3 class="header-name"><a class="chat-document-link"
                                                   data-uuid="{{speaker.actor.uuid}}">{{speakerName speaker.actor}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        {{localize "SR5.Labels.Message.FailedAttackAction"}}
    </div>
    <div class="sr5 chat-card roll-card">
        <div class="card-content">
            <div class="left-side">
                {{> 'systems/shadowrun5e/dist/templates/rolls/parts/Damage.hbs'
                    name=(localize "SR5.Incoming")
                    damage=damage
                }}
            </div>
        </div>
    </div>
</div>
