{{> 'systems/shadowrun5e/dist/templates/rolls/success-test-message.hbs'}}
{{#if test.icon}}
<div class="sr5 chat-card roll-card">
    <div class="test-line">
        <span class="test-name {{#if roll}}test-roll{{/if}}">
            {{localize "SR5.Labels.Message.TargetedIcon"}}
        </span>
    </div>
    <div class="card-title card-header">
        <div class="container container--fluid">
            <div class="container__row">
                <div class="container__col">
                    <div class="document">
                        <a class="chat-select-link" data-token-id="{{test.icon.id}}"><img src="{{test.icon.img}}" class="entity-selectable"/></a>
                         <h3 class="header-name"><a class="chat-document-link" data-uuid="{{test.icon.uuid}}">{{test.icon.name}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
