{{!-- Display a set of effects applied after a test has been rolled --}}
<div class="sr5 chat-card roll-card">
    {{log this}}
    <div class="cart-title card-header">
        {{localize "SR5.Labels.Message.TestEffects"}}
    </div>
    <div class="card-title card-header">
        <div class="container container--fluid">
            <div class="container__row">
                <div class="container__col">
                    <div class="document">
                        <a class="chat-select-link" data-token-id="{{speaker.token.id}}"><img
                                src="{{speakerImg speaker.actor}}" class="entity-selectable"
                                title="{{speakerName speaker.actor}}" /></a>
                        <h3 class="header-name"><a class="chat-document-link"
                                data-uuid="{{speaker.actor.uuid}}">{{speakerName speaker.actor}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-title card-header effects-list">
        <ul>
            {{#each effects}}
            <li>
                <a class="chat-document-link" data-uuid="{{this.uuid}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>