{{!-- expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container {{cssClass}}">
    <div class="new-list-item {{#if item.selected}}new-list-item-selected{{/if}}" data-uuid="{{item.document.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/matrix-icon-image.hbs" item.document }}
        <div class="new-list-item-label-container">
            <a class="{{#if item.selected}}new-list-item-selected{{/if}}"
               data-action="showItemDescription"
               data-item-id="{{item.document.uuid}}">
                {{item.name}}
            </a>
        </div>

        <div class="new-list-item-col">
            <label>
                {{matrixIconType item.document.type}}
            </label>
        </div>

        <div class="new-list-item-col">
            <label>
                {{item.network}}
            </label>
        </div>

        <div class="new-list-item-icons">
            {{!-- Add Icons for what the Owner of an item can do --}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item.document }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/connected-icons-toggle.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
        TODO
    </div>
</div>
