{{!-- expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{cssClass}}">
    <div class="list-item {{#if item.selected}}list-item-selected{{/if}}" data-uuid="{{item.document.uuid}}">
        <div class="list-item-start">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/matrix-icon-image.hbs" item.document }}
            <a class="{{#if item.selected}}list-item-selected{{/if}}"
               data-action="openUuid"
               data-item-id="{{item.document.uuid}}">
                {{item.name}}
            </a>
        </div>

        <div class="list-item-col matrix-icon-col">
            <label>
                {{matrixIconType item.document}}
            </label>
        </div>

        <div class="list-item-col matrix-network-col">
            {{!-- Add tooltip of the network incase it is cut off by being too long --}}
            <label data-tooltip="{{item.network}}">
                {{item.network}}
            </label>
        </div>

        <div class="list-item-icons">
            {{!-- Add Icons for what the Owner of an item can do --}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item.document }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/connected-icons-toggle.hbs' item }}
        </div>
    </div>
</div>
