{{!-- expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container {{cssClass}}">
    <div class="new-list-item">
        <div class="new-list-item-label-container">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/matrix-icon-image.hbs" item.document }}
            <label>
                <a data-action="showItemDescription" data-item-id="{{item.document.uuid}}">
                    {{item.name}}
                </a>
            </label>
        </div>

        <div class="new-list-item-col">
            <span>
                {{matrixIconType item.document.type}}
            </span>
        </div>

        <div class="new-list-item-col">
            <span>
                {{item.network}}
            </span>
        </div>

        <div class="new-list-item-icons">
            {{!-- Add Icons for what the Owner of an item can do --}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item.document }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/connected-icons-toggle.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
    </div>
</div>
