<div class="new-list-item new-list-item-header">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        <span>{{localize "SR5.CritterPower.Type"}}</span>
    </div>
    <div class="new-list-item-col">
        <span>{{localize "SR5.Range"}}</span>
    </div>
    <div class="new-list-item-col">
        <span>{{localize "SR5.Duration"}}</span>
    </div>
    <div class="new-list-item-col">
        <span>{{localize "SR5.Rating"}}</span>
    </div>

    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
</div>
