<div class="new-list-item new-list-item-header">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        <label>{{localize "SR5.CritterPower.Type"}}</label>
    </div>
    <div class="new-list-item-col">
        <label>{{localize "SR5.Range"}}</label>
    </div>
    <div class="new-list-item-col">
        <label>{{localize "SR5.Duration"}}</label>
    </div>
    <div class="new-list-item-col">
        <label>{{localize "SR5.Rating"}}</label>
    </div>

    {{#if @root.isEditMode}}
        <div class="new-list-item-icons">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
        </div>
    {{/if}}
</div>
