<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col thicc-col">
        <label>{{localize "SR5.CritterPower.Type"}}</label>
    </div>
    <div class="list-item-col thicc-col">
        <label>{{localize "SR5.Range"}}</label>
    </div>
    <div class="list-item-col thicc-col">
        <label>{{localize "SR5.Duration"}}</label>
    </div>
    <div class="list-item-col rtg-col">
        <label>{{localize "SR5.Rtg"}}</label>
    </div>

    <div class="list-item-icons {{#if @root.isPlayMode}} skinny-icons {{/if}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type=type }}
    </div>
</div>
