<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.MatrixTarget"}}
        </div>
        <div class="inputs">
            <select name="system.target">
                {{#select system.target}}
                <option value=""></option>
                {{#each config.matrixTargets as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    {{#if system.target}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Duration"}}
        </div>
        <div class="inputs">
            <select name="system.duration">
                {{#select system.duration}}
                <option value=""></option>
                {{#each config.durations as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.FadeValue"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="3"
                size="3"
                name="system.fade"
                value="{{system.fade}}"
                data-dtype="Number"
                placeholder="-2"
                data-dtype="Number"
            />
        </div>
    </div>
    {{/if}}
</div>
