{{!--expects a MarkedDocument to be passed in as 'item' --}}
<div class="new-list-item-container {{cssClass}}">
    <div class="new-list-item {{#if item.selected}}new-list-item-selected{{/if}}" data-uuid="{{item.document.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/matrix-icon-image.hbs" item.document }}
        <div class="new-list-item-label-container">
            <a data-action="showItemDescription">
                {{item.name}}
            </a>
        </div>

        <div class="new-list-item-col">
            <label>
                {{matrixIconType item.document.type}}
            </label>
        </div>

        <div class="new-list-item-col mark-input-col">
            {{#if @root.isEditMode}}
                <input type="number" class="mark-input" value="{{item.marks}}" min="0" max="3">
            {{else}}
                <a class="hover-show-button"
                   data-action="removeOneMark"
                   data-tooltip="SR5.Labels.ActorSheet.RemoveOneMark">
                    <i class="fas fa-minus-square"></i>
                </a>
                <label class="marks-label">{{item.marks}}</label>
                <a class="hover-show-button"
                   data-action="addOneMark"
                   data-tooltip="SR5.Labels.ActorSheet.AddOneMark">
                    <i class="fas fa-plus-square"></i>
                </a>
            {{/if}}
        </div>

        <div class="new-list-item-icons">
            <a data-action="removeMarks" data-item-id="{{item.document.uuid}}">
                <i class="fas fa-trash"></i>
            </a>
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/connected-icons-toggle.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
        TODO
    </div>
</div>
