{{#if (eq item.system.type 'skill')}}
    <label data-tooltip="{{systemFields.skill.fields.rating.hint}}">
        {{systemFields.skill.fields.rating.label}}&nbsp;{{item.system.skill.rating}}
        {{#if @root.hasSkillValue}}
            ({{@root.skillValue}})
        {{/if}}
    </label>
    <label data-tooltip="{{systemFields.skill.fields.attribute.hint}}">
        {{localizeOb item.system.skill.attribute @root.config.attributes}}
    </label>
    {{#if item.system.skill.defaulting}}
        <label data-tooltip="{{systemFields.skill.fields.defaulting.hint}}">{{localize "SR5.CanDefault"}}</label>
    {{/if}}
    {{#if item.system.skill.language.isNative}}
        <label data-tooltip="{{systemFields.skill.fields.language.fields.isNative.hint}}">{{systemFields.skill.fields.language.fields.isNative.label}}</label>
    {{/if}}
{{else if (eq item.system.type 'group')}}
    <label>{{localize "SR5.Rating"}}&nbsp;{{item.system.group.rating}}</label>
{{/if}}
{{#if @root.sourceSkillSet}}
    {{> "systems/shadowrun5e/dist/templates/v2/common/skill-source-indicator.hbs" source=@root.sourceSkillSet }}
{{/if}}
