<div class="new-list-item new-list-item-header {{cssClass}}">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        <label>{{localize "SR5.ActiveEffect.ApplyTo"}}</label>
    </div>

    {{!--
    <div class="new-list-item-col">
        <label>{{localize "SR5.Duration"}}</label>
    </div>
    --}}

    <div class="new-list-item-icons">
        {{#unless (or isItemEffect isNestedItem)}}
            {{#if @root.isEditMode}}
                <a data-action="addEffect"
                   data-tooltip="SR5.CreateEffect">
                    {{localize "SR5.Add"}}
                    <i class="fas fa-plus"></i>
                </a>
            {{/if}}
        {{/unless}}
    </div>
</div>
