<div class="new-list-item new-list-item-header">
    <div class="new-list-item-label-container">
        <a data-action="toggleExpanded"
           data-tooltip="{{#if isOpen}}SR5.Collapse{{else}}SR5.Expand{{/if}}"
           data-item-type="{{type}}">
            <i class="{{#if isOpen}}fas fa-square-chevron-up{{else}}fas fa-square-chevron-down{{/if}}"></i>
        </a>
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.ActiveEffect.ApplyTo"}}
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.Duration"}}
    </div>

    <div class="new-list-item-icons">
        {{#unless isItemEffect}}
        <a data-action="addEffect"
           data-tooltip="{{createItemHeaderLabel type}}"
           data-item-type="{{type}}">
            {{localize "SR5.Add"}}
            <i class="fas fa-plus"></i>
        </a>
        {{/unless}}
    </div>
</div>
