{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        <div class="new-list-item-label-container">
            {{#if item.img}}
                <img src="{{item.img}}" class="new-list-item-image" height="24px" width="24px" />
            {{/if}}
            <label>
                {{!-- allow overriding the name if provided --}}
                <a data-action="showItemDescription" data-item-id="{{item.uuid}}">
                    {{#if name}}
                        {{name}}
                    {{else}}
                        {{item.name}}
                    {{/if}}
                </a>
            </label>
        </div>

        <div class="new-list-item-col">
            {{localizeOb item.system.applyTo @root.config.effectApplyTo}}
        </div>

        <div class="new-list-item-col">
            {{effectDurationLabel item}}
        </div>

        <div class="new-list-item-icons">
            <a data-tooltip="SR5.ToggleActive" data-action="toggleEffect" data-item-id="{{item.uuid}}">
                <i class="{{#if item.disabled}}far fa-circle{{else}}fas fa-check-circle{{/if}}"></i>
            </a>
        </div>
    </div>
    <div class="new-list-item-description">
        {{{effect.data.description}}}
    </div>
</div>
