<div class="test-value test-value--damage-pair">
    <span class="value">{{label}}: </span>
    <span class="value-result value-result--damage-pair">
            <span class="damage-indicator" data-tooltip="{{incomingName}}">
            {{damageCode incomingDamage}}

            {{#if incomingDamage.element.value}}
            <i class="{{elementIcon incomingDamage.element.value}} icon"
               data-tooltip="{{incomingDamage.element.value}}"></i>
            {{/if}}
            {{#if incomingDamage.biofeedback}}
                <i class="far fa-heart-circle-bolt icon"
                   data-tooltip="{{localize 'SR5.BiofeedbackDamage'}}"></i>
            {{/if}}
            {{#if incomingDamage.ap.value}} {{#if showAP}}
                <span class="key">{{localize "SR5.AP"}}</span>
                <span class="value">{{incomingDamage.ap.value}}</span>
            {{/if}}{{/if}}
        </span>
        <span class="damage-arrow" aria-hidden="true">→</span>
        <span class="button apply-damage"
              data-tooltip="{{modifiedName}}"
              data-damage-value="{{modifiedDamage.value}}"
              data-damage-type="{{modifiedDamage.type.value}}"
              data-damage-element="{{modifiedDamage.element.value}}"
              data-damage-ap="{{modifiedDamage.ap.value}}"
              data-damage-biofeedback="{{modifiedDamage.biofeedback}}"
              >
            {{damageCode modifiedDamage}}

            {{#if modifiedDamage.element.value}}
            <i class="{{elementIcon modifiedDamage.element.value}} icon"
               data-tooltip="{{modifiedDamage.element.value}}"></i>
            {{/if}}
            {{#if modifiedDamage.biofeedback}}
                <i class="far fa-heart-circle-bolt icon"
                   data-tooltip="{{localize 'SR5.BiofeedbackDamage'}}"></i>
            {{/if}}
            {{#if modifiedDamage.ap.value}} {{#if showAP}}
                <span class="key">{{localize "SR5.AP"}}</span>
                <span class="value">{{modifiedDamage.ap.value}}</span>
            {{/if}}{{/if}}
        </span>
    </span>
</div>
