{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}

        <div class="new-list-item-col qty-input-col">
            {{#if @root.isEditMode}}
                <input type="number" class="item-quantity-input" value="{{item.system.technology.quantity}}" min="0" max="999">
            {{else}}
                <a data-action="removeItemQty"
                   data-tooltip="SR5.ActorSheet.Labels.RemoveOneQty">
                    <i class="fas fa-minus-square"></i>
                </a>
                <label>{{item.system.technology.quantity}}</label>
                <a data-action="addItemQty"
                   data-tooltip="SR5.ActorSheet.Labels.AddOneQty">
                    <i class="fas fa-plus-square"></i>
                </a>
            {{/if}}
        </div>

        <div class="new-list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
