{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="list-item-container {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="list-item draggable"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">

        <div class="list-item-start">
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}
        </div>

        <div class="list-item-col qty-input-col hover-show-button-container">
            {{#if @root.isEditMode}}
                <input type="number" class="item-quantity-input" value="{{item.system.technology.quantity}}" min="0" max="999">
            {{else}}
                <a class="hover-show-button"
                   data-action="removeItemQty"
                   data-tooltip="SR5.ActorSheet.Labels.RemoveOneQty">
                    <i class="fas fa-minus-square"></i>
                </a>
                <label>{{item.system.technology.quantity}}</label>
                <a class="hover-show-button"
                   data-action="addItemQty"
                   data-tooltip="SR5.ActorSheet.Labels.AddOneQty">
                    <i class="fas fa-plus-square"></i>
                </a>
            {{/if}}
        </div>

        <div class="list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/open-source-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
        </div>
    </div>
    <div class="list-item-desc">
        <div class="list-item-properties">
            {{> 'systems/shadowrun5e/dist/templates/v2/item-properties/ammo.hbs' item=item }}
        </div>
        <div class="description-body">
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    </div>
</div>
