{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        <div class="new-list-item-label-container">
            <a data-action="showItemDescription">
                {{#if name}}
                    {{name}}
                {{else}}
                    {{item.name}}
                {{/if}}
            </a>
        </div>

        <div class="new-list-item-col">
            <a data-action="removeItemQty"
               data-tooltip="SR5.Labels.ActorSheet.RemoveOneQty">
                <i class="fas fa-minus-square"></i>
            </a>
            {{#if @root.isEditMode}}
                <input type="number" class="item-quantity-input" value="{{item.system.technology.quantity}}" min="0" max="999">
            {{else}}
                {{item.system.technology.quantity}}
            {{/if}}
            <a data-action="addItemQty"
               data-tooltip="SR5.Labels.ActorSheet.AddOneQty">
                <i class="fas fa-plus-square"></i>
            </a>
        </div>

        <div class="new-list-item-icons">
            <a data-action="equipItem">
                <i class="{{#if item.system.technology.equipped}}fas fa-circle-check{{else}}far fa-circle{{/if}}"></i>
            </a>
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
