<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="new-list-item new-list-item-header header-for-scrollable">
            <div class="new-list-item-label-container">
                <label class="item-text item-name" for="select-inventory">{{localize 'SR5.Labels.Inventory.OpenInventory'}}</label>
                <div>
                    <select id="select-inventory" class="short">
                        {{#each inventories as |inventory name|}}
                            <option value="{{inventory.name}}" {{#ife ../selectedInventory inventory.name}}selected="selected"{{/ife}}>{{localize inventory.label}}</option>
                        {{/each}}
                    </select>
                </div>
                {{#if @root.isEditMode}}
                    <a>
                        <i class="fas fa-trash"></i>
                    </a>
                {{/if}}
            </div>
            {{#if @root.isEditMode}}
            <div class="new-list-item-col">
                <div>
                    <input class="short" type="text" id="input-inventory" value="{{inventory.name}}"/>
                </div>
                <a data-action="saveInventoryName">
                    <i class="fas fa-check"></i>
                </a>
                <a class="inventory-input-cancel">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            {{/if}}
            <div class="new-list-item-icons">
                {{#if @root.isEditMode}}
                <a class="inventory-inline-create" data-tooltip="SR5.Labels.ActorSheet.CreateInventory">
                    <i class="fas fa-plus"></i>
                    {{localize "SR5.Add"}}
                </a>
                {{/if}}
                <a class="inventory-collapse" data-tooltip="SR5.CollapseAll">
                    <i class="fas fa-chevrons-up"></i>
                </a>
                <a class="inventory-expand" data-tooltip="SR5.ExpandAll">
                    <i class="fas fa-chevrons-down"></i>
                </a>
            </div>
        </div>
        <div class="scrollable">
            {{#each inventory.types as |section type|}}
                {{> (concatStrings "systems/shadowrun5e/dist/templates/v2/list-items/" type "/header.hbs")
                    label=section.label
                    isOpen=section.isOpen
                    type=type
                    rootId=@root.rootId
                }}
                {{#if (or section.isOpen @root.isEditMode)}}
                    {{#each section.items}}
                        {{> (concatStrings "systems/shadowrun5e/dist/templates/v2/list-items/" type "/item.hbs")
                            item=this
                            rootId=@root.rootId
                        }}
                    {{/each}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</section>
