<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="new-list-item new-list-item-header">
            <div class="new-list-item-col">
                <a data-action="roll" data-roll-id="matrix.device-rating">
                    {{localize "SR5.Labels.ActorSheet.DeviceRating"}}: {{system.matrix.rating}}
                </a>
            </div>
            <div class="new-list-item-col">
                <a data-action="togglePersonaRunningSilent" data-tooltip="SR5.Tooltips.Actor.MatrixRunningSilentToggle">
                    {{#if system.matrix.running_silent}}
                        {{localize "SR5.RunningSilent"}}
                    {{else}}
                        {{localize "SR5.Labels.ActorSheet.DisplayingPersona"}}
                    {{/if}}
                </a>
            </div>
            <div class="new-list-item-col">
                <a data-action="rebootPersona" data-tooltip="SR5.Tooltips.Actor.RebootPersonaAndClearAllMarks">
                    {{localize "SR5.Labels.Sheet.RebootDevice"}} <i class="fas fa-power-off"></i>
                </a>
            </div>
        </div>
        <div class="split-container">
            <div>
                <div class="attributes">
                    {{#each config.matrixAttributes as |label key|}}
                        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/matrix-attribute.hbs"
                            matrixAtt=(lookup ../system.matrix key)
                            attributeField=(objValue @root.systemFields.matrix.fields key)
                            isCyberdeck=../system.matrix.is_cyberdeck
                            key=key
                            label=label
                            matrixAttributes=../config/matrixAttributes
                            item=../system.matrix.item }}
                    {{/each}}
                </div>
                <div class="new-list-item new-list-item-header">
                    <div class="new-list-item-col">
                        {{#if network}}
                            {{localize "SR5.Labels.ActorSheet.Network"}}: <a class="open-matrix-device" data-uuid="{{network.uuid}}">{{network.name}}</a>
                            <a data-tooltip="SR5.Tooltips.Actor.DisconnectNetwork">
                                <i class="item-icon fas fa-right-from-bracket disconnect-network"></i>
                            </a>
                        {{else}}
                            {{localize "SR5.Labels.ActorSheet.NoNetwork"}}
                            <a class="connect-to-network">{{localize "SR5.Labels.ActorSheet.AddNetwork"}}</a>
                        {{/if}}
                    </div>
                    {{#unless network}}
                    {{#if vehicle.driver}}
                    <div class="new-list-item-col">
                        <a data-action="connectToDriver">
                            {{localize "SR5.Labels.ActorSheet.ConnectToDriver"}} <i class="fas fa-network-wired"></i>
                        </a>
                    </div>
                    {{/if}}
                    {{/unless}}
                </div>
                {{tabGroup matrixLeftTabs}}
                <section class="content matrix-left-tab-content"></section>
            </div>
            <div>
                {{#ifgt system.matrix.condition_monitor.max 0}}
                    {{> 'systems/shadowrun5e/dist/templates/v2/common/horizontal-cells.hbs'
                        name=(localize "SR5.ConditionMonitor")
                        value=system.matrix.condition_monitor.value
                        max=system.matrix.condition_monitor.max
                        id="matrix"
                    }}
                {{/ifgt}}
                {{tabGroup matrixRightTabs}}
                <section class="content matrix-right-tab-content"></section>
            </div>
        </div>
    </div>
</section>
