<div class="new-list-item new-list-item-header">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    {{#if (eq type 'summoning')}}
        <div class="new-list-item-col">
            <span>
                {{localize "SR5.Summoning.SpiritType"}}
            </span>
        </div>
        <div class="new-list-item-col">
            <span>
                {{localize "SR5.Force"}}
            </span>
        </div>
    {{else if (eq type 'compilation')}}
        <div class="new-list-item-col">
            <span>
                {{localize "SR5.Compilation.SpriteType"}}
            </span>
        </div>
        <div class="new-list-item-col">
            <span>
                {{localize "SR5.Level"}}
            </span>
        </div>
    {{/if}}

    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
</div>
