<div class="new-list-item new-list-item-header{{#if @root.isPlayMode}} collapsible-header{{/if}}"
    {{#unless @root.isEditMode}}
     data-action="toggleExpanded"
     data-item-type="{{type}}"
    {{/unless}}>
    <div class="new-list-item-label-container{{#unless isOpen}} label-collapsed{{/unless}}">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.ModificationCategory"}}
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.ModificationSlots"}}
    </div>

    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
        {{#unless @root.isEditMode}}
            <i data-tooltip="{{#if isOpen}}SR5.Collapse{{else}}SR5.Expand{{/if}}"
               class="{{#if isOpen}}fas fa-square-chevron-down{{else}}fas fa-square-chevron-right{{/if}}"></i>
        {{/unless}}
    </div>
</div>
