<div class="new-list-item new-list-item-header">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.ModificationCategory"}}
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.ModificationSlots"}}
    </div>

    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
        <a data-action="toggleExpanded"
           data-tooltip="{{#if isOpen}}SR5.Collapse{{else}}SR5.Expand{{/if}}"
           data-item-type="{{type}}">
            <i class="{{#if isOpen}}fas fa-square-chevron-down{{else}}fas fa-square-chevron-right{{/if}}"></i>
        </a>
    </div>
</div>
