<footer class="sheet-footer">
    <div class="new-list-item">
        {{#if (eq actor.type 'character')}}
            <div class="new-list-item-col select-col">
            {{#if @root.isEditMode}}
                    {{formInput systemFields.metatype value=source.system.metatype rootId=rootId localize=true classes="short thicc" }}
            {{else}}
                <label>{{localizeOb system.metatype config.character.types}}</label>
            {{/if}}
        </div>
            {{#if system.is_npc}}
            <div class="new-list-item-col">
                <label>{{localize "SR5.IsNPC"}}</label>
            </div>
            {{/if}}
            {{#if system.is_critter}}
            <div class="new-list-item-col">
                <label>{{localize "SR5.IsCritter"}}</label>
            </div>
            {{/if}}
            {{#if system.is_grunt}}
            <div class="new-list-item-col">
                <label>{{localize "SR5.IsGrunt"}}</label>
            </div>
            {{/if}}
            {{#unless (or system.is_npc system.is_critter)}}
            <div class="new-list-item-col nuyen-col">
                <label>
                    <a data-action="openNuyenManager"><i class="fas fa-yen"></i></a>&nbsp;
                    {{#if @root.isEditMode}}
                        {{formInput systemFields.nuyen value=source.system.nuyen rootId=rootId classes="short thicc"}}
                    {{else}}
                        {{nuyenValue system.nuyen}}
                    {{/if}}
                </label>
            </div>
            <div class="new-list-item-col reputation-col">
                <label>
                    <a data-action="openReputationManager"><i class="fas fa-people-group"></i></a>&nbsp;
                    <span data-tooltip="{{systemFields.street_cred.label}} - {{systemFields.street_cred.hint}}">{{localize "SR5.ActorSheet.Labels.StreetCredShort"}}&nbsp;
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.street_cred value=source.system.street_cred rootId=rootId classes="short skinny"}}
                        {{else}}
                            {{system.street_cred}}
                        {{/if}}
                    </span>
                    <i class="fas fa-pipe"></i>
                    <span data-tooltip="{{systemFields.notoriety.label}} - {{systemFields.notoriety.hint}}">{{localize "SR5.ActorSheet.Labels.NotorietyShort"}}&nbsp;
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.notoriety value=source.system.notoriety rootId=rootId classes="short skinny"}}
                        {{else}}
                            {{system.notoriety}}
                        {{/if}}
                    </span>
                    <i class="fas fa-pipe"></i>
                    <span data-tooltip="{{systemFields.public_awareness.label}} - {{systemFields.public_awareness.hint}}">{{localize "SR5.ActorSheet.Labels.PublicAwarenessShort"}}&nbsp;
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.public_awareness value=source.system.public_awareness rootId=rootId classes="short skinny"}}
                        {{else}}
                            {{system.public_awareness}}
                        {{/if}}
                    </span>
                </label>
            </div>
            <div class="new-list-item-col karma-mod-col">
                <label data-tooltip="SR5.Karma">
                    <a data-action="openKarmaManager"><i class="fas fa-yin-yang"></i></a>&nbsp;
                    {{#if @root.isEditMode}}
                        {{formInput systemFields.karma.fields.value value=source.system.karma.value
                                    classes="short skinny" rootId=rootId }}&nbsp;({{formInput systemFields.karma.fields.max value=source.system.karma.max
                                    classes="short skinny" rootId=rootId }})
                    {{else}}
                        <span data-tooltip="{{sourceFields.karma.fields.value.hint}}">{{system.karma.value}}</span>&nbsp;<span data-tooltip="{{sourceFields.karma.fields.max.hint}}">({{system.karma.max}})</span>
                    {{/if}}
                </label>
            </div>
            {{/unless}}
            {{#if @root.isPlayMode}}
                <div class="new-list-item-col">
                    <label><i class="fas fa-head-side-gear" data-tooltip="SR5.AttrEssence"></i>&nbsp;<span data-attribute-modifier-tooltip="essence">{{system.attributes.essence.value}}</span></label>
                </div>
            {{/if}}
        {{/if}}
        {{#if (eq actor.type 'spirit')}}
            <div class="new-list-item-col select-col">
                {{#if @root.isEditMode}}
                    {{formInput systemFields.spiritType value=source.system.spiritType
                                localize=true classes="short" rootId=rootId }}
                {{else}}
                    <label>{{localizeOb  system.spiritType config.spiritTypes}}</label>
                {{/if}}
            </div>
            <div class="new-list-item-col">
                <label>{{localize "SR5.Spirit.Force"}}</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.force value=system.force classes="short skinny" rootId=rootId}}
                {{else}}
                    <label>{{system.force}}</label>
                {{/if}}
            </div>
            {{#if @root.isEditMode}}
                <div class="new-list-item-col">
                    <label>
                        {{localize "SR5.Spirit.Bound"}}
                        {{formInput systemFields.bound value=system.bound rootId=rootId}}
                    </label>
                </div>
            {{else if system.bound}}
                <div class="new-list-item-col">
                    <label>
                        {{localize "SR5.Spirit.Bound"}}
                    </label>
                </div>
            {{/if}}
        {{/if}}
        {{#if (eq actor.type 'sprite')}}
            <div class="new-list-item-col select-col">
                {{#if @root.isEditMode}}
                    {{formInput systemFields.spriteType value=source.system.spriteType
                                localize=true classes="short" rootId=rootId }}
                {{else}}
                    <label>{{localizeOb  system.spriteType config.spriteTypes}}</label>
                {{/if}}
            </div>
            <div class="new-list-item-col">
                <label>{{localize "SR5.Sprite.Level"}}</label>
                {{#if @root.isEditMode}}
                    {{formInput systemFields.level value=system.level classes="short skinny" rootId=rootId}}
                {{else}}
                    <label>{{system.level}}</label>
                {{/if}}
            </div>
            {{#if @root.isEditMode}}
                <div class="new-list-item-col">
                    <label>
                        {{localize "SR5.Sprite.Registered"}}
                        {{formInput systemFields.registered value=system.registered rootId=rootId}}
                    </label>
                </div>
            {{else if system.registered}}
                <div class="new-list-item-col">
                    <label>
                        {{localize "SR5.Sprite.Registered"}}
                    </label>
                </div>
            {{/if}}
        {{else if (eq actor.type 'ic')}}
            <div class="new-list-item-label-container">
                {{#if @root.isEditMode}}
                    {{formInput systemFields.icType value=system.icType rootId=rootId
                                localize=true classes="short" disabled=network}}
                {{else}}
                    <label>{{localizeOb system.icType config.icTypes}}</label>
                {{/if}}
            </div>
        <div class="new-list-item-col">
            <label>{{localize "SR5.Rtg"}}&nbsp;
                {{#if @root.isEditMode}}
                    {{formInput systemFields.host.fields.rating value=system.host.rating
                                classes="short skinny" rootId=rootId disabled=network}}
                {{else}}
                    {{system.host.rating}}
                {{/if}}
            </label>
        </div>
        {{else if (eq actor.type 'vehicle')}}
            <div class="new-list-item-col select-col">
                {{#if @root.isEditMode}}
                    {{formInput systemFields.vehicleType value=source.system.vehicleType
                                localize=true classes="short" rootId=rootId }}
                {{else}}
                    <label>{{localizeOb system.vehicleType config.vehicle.types}}</label>
                {{/if}}
            </div>

            {{#if @root.isEditMode}}
                <div class="new-list-item-col">
                    <label>
                        {{localize "SR5.Vehicle.Drone"}}
                        {{formInput systemFields.isDrone value=source.system.isDrone rootId=rootId }}
                    </label>
                </div>
            {{else if system.isDrone}}
                <div class="new-list-item-col">
                    <label>{{localize "SR5.Vehicle.Drone"}}</label>
                </div>
            {{/if}}

            {{#if @root.isPlayMode}}
                {{#if system.isDrone}}
                    <div class="new-list-item-col">
                        <label>
                            {{localize "SR5.ModPoints"}}&nbsp;
                            {{calcModPointSlots items}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                    </div>
                {{else}}
                    <div class="new-list-item-col vehicle-mod-col">
                        <label data-tooltip="SR5.Vehicle.ModificationCategoryTypes.body">
                            &nbsp;<i class="fas fa-truck"></i>
                            {{calcModificationCategorySlots items "body"}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                        <label data-tooltip="SR5.Vehicle.ModificationCategoryTypes.cosmetic">
                            &nbsp;<i class="fas fa-image"></i>
                            {{calcModificationCategorySlots items "cosmetic"}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                        <label data-tooltip="SR5.Vehicle.ModificationCategoryTypes.electromagnetic">
                            &nbsp;<i class="far fa-bolt"></i>
                            {{calcModificationCategorySlots items "electromagnetic"}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                        <label data-tooltip="SR5.Vehicle.ModificationCategoryTypes.power_train">
                            &nbsp;<i class="far fa-engine"></i>
                            {{calcModificationCategorySlots items "power_train"}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                        <label data-tooltip="SR5.Vehicle.ModificationCategoryTypes.protection">
                            &nbsp;<i class="far fa-shield"></i>
                            {{calcModificationCategorySlots items "protection"}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                        <label data-tooltip="SR5.Vehicle.ModificationCategoryTypes.weapons">
                            &nbsp;<i class="far fa-gun"></i>
                            {{calcModificationCategorySlots items "weapons"}}/{{calcModificationSlotsAvailable actor}}
                        </label>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#unless (or isIC isSprite)}}
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/movement.hbs' }}
        {{/unless}}
        <div style="flex: 1;"></div>
    </div>
</footer>
