<footer class="sheet-footer">
    <div class="new-list-item">
        {{#if (eq actor.type 'character')}}
            {{#if system.metatype}}
                <label>{{localizeOb system.metatype config.character.types}}</label>
            {{/if}}
            {{#if system.is_npc}}
                <label>{{localize "SR5.IsNPC"}}</label>
            {{/if}}
            {{#if system.is_critter}}
                <label>{{localize "SR5.IsCritter"}}</label>
            {{/if}}
            {{#if system.is_grunt}}
                <label>{{localize "SR5.IsGrunt"}}</label>
            {{/if}}
            {{#unless (or system.is_npc system.is_critter)}}
                <label>
                    <i class="fas fa-yen"></i>
                    <span>
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.nuyen value=system.nuyen rootId=rootId classes="nuyen"}}
                        {{else}}
                            {{system.nuyen}}
                        {{/if}}
                   </span>
                </label>
                <label>
                    <i class="fas fa-people-group"></i>
                    <span data-tooltip="{{systemFields.street_cred.label}} - {{systemFields.street_cred.hint}}">{{localize "SR5.ActorSheet.Labels.StreetCredShort"}}&nbsp;
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.street_cred value=system.street_cred rootId=rootId classes="short"}}
                        {{else}}
                            {{system.street_cred}}
                        {{/if}}
                    </span>
                    <i class="fas fa-pipe"></i>
                    <span data-tooltip="{{systemFields.notoriety.label}} - {{systemFields.notoriety.hint}}">{{localize "SR5.ActorSheet.Labels.NotorietyShort"}}&nbsp;
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.notoriety value=system.notoriety rootId=rootId classes="short"}}
                        {{else}}
                            {{system.notoriety}}
                        {{/if}}
                    </span>
                    <i class="fas fa-pipe"></i>
                    <span data-tooltip="{{systemFields.public_awareness.label}} - {{systemFields.public_awareness.hint}}">{{localize "SR5.ActorSheet.Labels.PublicAwarenessShort"}}&nbsp;
                        {{#if @root.isEditMode}}
                            {{formInput systemFields.public_awareness value=system.public_awareness rootId=rootId classes="short"}}
                        {{else}}
                            {{system.public_awareness}}
                        {{/if}}
                    </span>
                </label>
            {{/unless}}
            <label data-tooltip="SR5.AttrEssence">
                <i class="fas fa-head-side-gear"></i>&nbsp;{{system.attributes.essence.value}}
            </label>

        {{/if}}
        <div></div>
    </div>
</footer>
