<div class="new-list-item new-list-item-header {{cssClass}}">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        <label>
            {{localize "SR5.ActionType"}}
        </label>
    </div>

    {{#if (eq type 'matrix_action')}}
        <div class="new-list-item-col">
            <label>
                {{localize "SR5.Marks"}}
            </label>
        </div>
    {{else}}
        <div class="new-list-item-col">
        </div>
    {{/if}}

    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
</div>
