<div class="new-list-item new-list-item-header {{cssClass}}">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    {{#if (eq type 'matrix_action')}}
    <div class="new-list-item-col">
        <span>
            {{localize "SR5.Marks"}}
        </span>
    </div>
    {{else}}
    <div class="new-list-item-col">
        <span>
            {{localize "SR5.ActionType"}}
        </span>
    </div>
    {{/if}}

    {{#if @root.isEditMode}}
    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
    {{/if}}
</div>
