<div class="compendium-entry {{#if selectionMode}}is-selection-mode{{/if}}" data-uuid="{{entry.uuid}}" draggable="{{#if selectionMode}}false{{else}}true{{/if}}">
    {{#if selectionMode}}
    <label class="entry-select">
        <input type="checkbox" data-entry-uuid="{{entry.uuid}}" {{#if isSelected}}checked{{/if}}>
    </label>
    {{/if}}
    <div class="item-main" data-action="openDoc">
        <div class="item-image">
            <img src="{{entry.img}}" alt="{{entry.name}}" loading="lazy"/>
        </div>
        <div class="item-details">
            <h3>{{entry.name}}</h3>
            <div class="item-type">{{entry.type}}</div>
            <div class="item-pack">{{entry.sourcePack}}</div>
        </div>
    </div>
    <div class="item-meta" data-action="openSource">
        {{entry.system.description.source}}
    </div>
</div>
