{{#if @root.isEditMode}}
<a data-action="{{action}}"
   data-tooltip="{{tooltip}}"
   data-item-type="{{type}}"
    {{#if data}}
    {{#each data}}
        data-{{@key}}="{{this}}"
    {{/each}}
    {{/if}}>
    {{localize "SR5.Add"}}&nbsp;<i class="fas fa-plus"></i>
</a>
{{/if}}