<div class="new-list-item-col qty-input-col">
    {{#if @root.isEditMode}}
        <input type="number" class="item-quantity-input" value="{{this.system.technology.quantity}}" min="0" max="999">
    {{else}}
        <a class="hover-show-button"
           data-action="removeOneQty"
           data-tooltip="SR5.Labels.ActorSheet.RemoveOneQty"
           data-item-id="{{this.uuid}}">
            <i class="fas fa-minus-square"></i>
        </a>
        <label class="qty-label">{{this.system.technology.quantity}}</label>
        <a class="hover-show-button"
           data-action="addOneQty"
           data-tooltip="SR5.Labels.ActorSheet.AddOneQty"
           data-item-id="{{this.uuid}}">
            <i class="fas fa-plus-square"></i>
        </a>
    {{/if}}
</div>
