{{#if (canBeWireless this)}}
    {{#if (isBroken this)}}
        <a data-tooltip="SR5.Broken" data-action="repairBrokenItem" data-item-id="{{this.uuid}}">
            <i class="fas fa-link-slash"></i>
        </a>
    {{else if (isRunningSilent this)}}
        <a data-action="toggleItemWireless" data-item-id="{{this.uuid}}">
            <i class="fa-duotone fa-wifi-fair"></i>
        </a>
    {{else if (isWireless this)}}
        <a data-action="toggleItemWireless" data-item-id="{{this.uuid}}">
            <i class="fas fa-wifi"></i>
        </a>
    {{else}}
        <a data-action="toggleItemWireless" data-item-id="{{this.uuid}}">
            <i class="fas fa-wifi-slash"></i>
        </a>
    {{/if}}
{{/if}}
