{{#if (canBeWireless this)}}
    {{#if (isBroken this)}}
        <a>
            <i data-tooltip="SR5.Broken"
               data-action="repairBrokenItem"
               data-item-id="{{this.uuid}}"
               class="fas fa-link-slash"></i>
        </a>
    {{else}}
        <a>
            <i data-action="toggleItemWireless"
               data-item-id="{{this.uuid}}"
        {{#if (isRunningSilent this)}}
               class="fa-duotone fa-wifi-fair"
        {{else if (isWireless this)}}
               class="fas fa-wifi"
        {{else}}
               class="fas fa-wifi-slash"
        {{/if}}
            ></i>
        </a>
    {{/if}}
{{/if}}
