{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="new-list-item {{#if (isOwner item owner=@root.actor)}} draggable {{/if}}"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">

        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}

        <div class="new-list-item-col">
            {{#if (usesAmmo item)}}
                {{#iflt item.system.ammo.current.value item.system.ammo.current.max}}
                    <a data-action="weaponFullReload"
                       data-tooltip="{{localize 'SR5.Weapon.Reload'}} ({{item.system.ammo.current.value}}/{{item.system.ammo.current.max}})"
                       data-item-id="{{item.uuid}}">
                        <i class="fas fa-rotate"></i>
                    </a>
                    {{#ifgt item.system.ammo.partial_reload_value 0}}
                        <a data-action="weaponPartialReload"
                           data-tooltip="{{localize 'SR5.Weapon.PartialReload'}} (+{{item.system.ammo.partial_reload_value}})"
                           data-item-id="{{item.uuid}}">
                            <span class="fa-stack">
                                <i class="fas fa-p"></i>
                                <i class="fas fa-rotate"></i>
                            </span>
                        </a>
                    {{/ifgt}}
                {{else}}
                    <span>
                        {{localize 'SR5.AmmoFull'}}
                    </span>
                {{/iflt}}
            {{/if}}
        </div>

        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-rating-col.hbs' item }}
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-quantity-col.hbs' item }}

        <div class="new-list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/open-source-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/favorite-icon.hbs' item }}
            {{#if (isOwner item owner=@root.actor)}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/move-item-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
            {{/if}}
        </div>
    </div>
    {{#if (hasKey @root.expandedUuids item.uuid)}}
        <div class="new-list-item-desc">
            <div class="new-list-item-properties">
                {{> 'systems/shadowrun5e/dist/templates/v2/item-properties/action.hbs' item=item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/item-properties/weapon.hbs' item=item }}
            </div>
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    {{/if}}
</div>
